{% if shop.metafields.elspw['enabled'] == '1' %}
<script>
    var Elspw = {
        params: {
            id: '0f00143e3693a4ce253989ceca1de0ea',
            money_format: "{{shop.money_format}}",
            cart: {
                "total_price" : {{cart.total_price}},
                "attributes": {{cart.attributes | json}},
                "items" : [
                {% for item in cart.items %}
                    {
                        "id": {{item.id}},
                        "product": { "id":{{item.product_id}}, "handle":"{{item.product.handle}}", "title":{{item.product.title | json}},"tags":{{item.product.tags | json}}, "collection_ids":[{% for c in item.product.collections %}{{c.id}}{% unless forloop.last %},{% endunless %}{% endfor %}]},
                        "quantity": {{item.quantity}},
                        "properties": {{item.properties | json}},
                        "price": "{{item.price}}"
                    }{% unless forloop.last %},{% endunless %}
                {% endfor %}]
            }
        }
    };
    Elspw.params.product = {% if product %}{
        "id": {{product.id}},
        "title": {{product.title | json}},
        "handle": "{{product.handle}}",
        "tags": {{product.tags | json}},
        "variants":[{% for variant in product.variants %}{"id":{{variant.id}},"title":{{variant.title | json}}}{% unless forloop.last %},{% endunless %}{% endfor %}],
        "collection_ids":[{% for c in product.collections %}{{c.id}}{% unless forloop.last %},{% endunless %}{% endfor %}]
    }{% else %}{}{% endif %};
</script>
<script src="https://s3.amazonaws.com/els-apps/product-warnings/settings/0f00143e3693a4ce253989ceca1de0ea.js?q={{"now" | date: "%H%M%S"}}" defer></script>
{% endif %}