{% assign expire_timestamp = 'now' | date: '%s' | minus: 86400 %}
{% assign update_timestamp = 1588978199 %}

{% if expire_timestamp < update_timestamp %}
// Intercept Third Party Scripts
(function(){
    window['addEventListener'] = (function(){
        var original = this['addEventListener'];
        return function() {
            if ((arguments[0] == 'load' || arguments[0] == 'theme.loaded.jquery')
                && arguments[1] && arguments[1].name == 'asyncLoad') {
                console.log("Disable asyncLoad in favour of hyperLoad!");
            } else {
                return original.apply(this, arguments);
            }
        }
    }.bind(window))();

    (function() {
        function hyperLoad() {
            var hsUrls = ['https://cdn.shopifycloud.com/messenger_commerce/assets/new_message_us?version=1517348649&page_id=63078399623&color=&size=&position_horizontal=&position_vertical=&messenger_app_id=1163199097047119&shop=handful-2.myshopify.com', 'https://instafeed.nfcube.com/cdn/f769e0383f88c7016ac42542529dbb25.js?shop=handful-2.myshopify.com', "{{ '13865_1574714515.js' | asset_url | split: '?' | first }}?v=5&shop=handful-2.myshopify.com&hs_version=26", "{{ '663c114e3f21d184cf74f5eff.js' | asset_url | split: '?' | first }}?shop=handful-2.myshopify.com&hs_version=5", "{{ 'apple_message_button_v2.js' | asset_url | split: '?' | first }}?businessId=e7298853-0f10-456d-bf0c-070a69aa6514&format=small&position=bottom_left&shop=handful-2.myshopify.com&hs_version=5", "{{ 'loox.js' | asset_url | split: '?' | first }}?shop=handful-2.myshopify.com&hs_version=7", "{{ 'partner-shopify.js' | asset_url | split: '?' | first }}?shop=handful-2.myshopify.com&hs_version=4", "{{ 'shopify.js' | asset_url | split: '?' | first }}?affiliatly_code=AF-1011784&shop=handful-2.myshopify.com&hs_version=5", "{{ 'wallsh_dp.min.js' | asset_url | split: '?' | first }}?shop=handful-2.myshopify.com&hs_version=20", "{{ 'widget.js' | asset_url | split: '?' | first }}?shop=handful-2.myshopify.com&hs_version=6"];
            for (var i = 0; i < hsUrls.length; i++) {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = hsUrls[i];
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
            }
        };
        if (window.attachEvent) {
            window.attachEvent('onload', hyperLoad);
        } else {
            window.addEventListener('load', hyperLoad, false);
        }
    })();
})();
{% endif %}