<!-- Hyperspeed:6716 -->

<!-- Lazyload + Responsive Images-->
<script defer src="{{ 'hs-lazysizes.min.js' | asset_url }}"></script>

<script defer src="{{ 'hs-image-change.min.js' | asset_url }}"></script>
<link rel="preload" href="{{ 'hyperspeed.scss.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'hyperspeed.scss.css' | asset_url }}"></noscript><!-- Third party app optimization -->
<script>{% render 'hs-3p-optimize.js' %}</script>

<!-- CSS Preloading -->
<script>{% render 'hs-css-preload.js' %}</script>

<!-- instant.load -->
<script defer src="{{ 'hs-instantload.min.js' | asset_url }}"></script>

