<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Montserrat:600,400italic,400,700italic,700,800,600italic,800italic,900italic,900' rel='stylesheet' type='text/css'>
