<div class="mobile-wrapper">
  <a href class="menuToggle header-hamburger"></a>
  <div class="logo-wrapper{% if section.settings.logo %} logo-wrapper--image{% endif %}">
    {% if template == 'index' %}
      <h1 class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        {% if section.settings.logo %}
        <a href="/" itemprop="url">
          {% capture image_size %}{{ section.settings.logo_max_width | remove: "p" | remove: "x" | strip }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          class="logo-image"
          itemprop="logo">
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
    {% if template == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </div>
  <div class="header-cart__wrapper">
    <a href="/cart" class="CartToggle header-cart"></a>
    <span class="header-cart__bubble cartCount{% if cart.item_count < 1 %} hidden-count{% endif %}"></span>
  </div>
</div>
<div class="header-menu nav-wrapper">
  {% comment %}
    List out your main-menu linklist (default)

    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
  {% endcomment %}
  <ul class="main-menu accessibleNav">
    {% if section.settings.main_menu_linklist %}
      {% assign main_menu_linklist = section.settings.main_menu_linklist %}
    {% else %}
      {% assign main_menu_linklist = 'main-menu' %}
    {% endif %}
    {% for link in linklists[main_menu_linklist].links %}
      {% include 'nav-item' %}
    {% endfor %}
    <li class="cart-text-link">
      <a href="/cart" class="CartToggle">
        {{ 'layout.cart.title' | t }}
        <span class="cartCost {% if cart.item_count < 1 %} hidden-count {% endif %}">(<span class="money">{{ cart.total_price | money }}</span>)</span>
      </a>
    </li>
    
    <!-- Changes by Quoin Design start-->
    <li><a href="/account"><img src="{{ 'account.svg' | asset_url }}"> My Account</a></li>
    <!-- Changes by Quoin Design end-->
    
    {% unless exclude_search %}
    <li>
      <div class="header-search mobile">
        <form action="/search" method="get" class="input-group search" role="search">
          {% if section.settings.search_only_products %}<input type="hidden" name="type" value="product">{% endif %}
          <input class="search-bar" type="search" name="q">
          <button type="submit" class="btn search-btn"></button>
        </form>
      </div>
    </li>
    {% endunless %}
  </ul>
</div>
