<!-- /snippets/newsletter-form.liquid -->

<form action="//handful.us16.list-manage.com/subscribe/post?u=c877ddfad5723e9cd0495694e&amp;id=15fd893dd2" method="post" id="contact_form" class="contact-form" accept-charset="UTF-8" target="_blank">

  <div class="input-group newsletter-form input-group-birthday">
    <label>Your Birthday</label>
    <input class="birthday" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BDAY[month]"> /
    <input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BDAY[day]">
  </div>
  <div class="input-group newsletter-form">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c877ddfad5723e9cd0495694e_15fd893dd2" tabindex="-1" value=""></div>
    <input type="email" placeholder="Enter your email" id="mail" class="input-group-field" aria-label="Enter your email" autocorrect="off" autocapitalize="off" name="EMAIL" />
    <span class="input-group-btn">
      <input type="submit" class="btn uppercase" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
    </span>
  </div>

</form>

{% comment %}

{% form 'customer' %}
  {% if form.posted_successfully? %}
    <p><em>{{ 'general.newsletter_form.subscribed' | t }}</em></p>
  {% elsif form.errors %}
    {% for field in form.errors %}
      <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
    {% endfor %}
  {% endif %}

  <input type="hidden" name="contact[accepts_marketing]" value="true">
  <div class="input-group newsletter-form">
    <input type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" name="contact[email]" />
    <span class="input-group-btn">
      <input type="submit" class="btn uppercase" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
    </span>
  </div>
{% endform %}

{% endcomment %}
