{%- if shop.metafields.richsnippets_app.disabled == blank -%}
	{%- assign object = '' -%}
	{%- if template contains 'product' -%}
		{%- assign object = product -%}
	{%- elsif template contains 'article' -%}
		{%- assign object = article -%}
	{%- endif -%}
    {%- if template contains 'product' or template contains 'article' -%}
        {%- assign reviewCount = 0 -%}
        {%- assign reviewRating = 0 -%}
        {%- if object.metafields.ssw.count_rate != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 8 -%}
            {%- assign reviewCount = object.metafields.ssw.count_rate | plus:0  -%}
            {%- assign reviewRating = object.metafields.ssw.avg_rate -%}
        {%- elsif object.metafields.orankl.review_count != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 5 -%}
            {%- assign reviewCount = object.metafields.orankl.review_count | plus:0 -%}
            {%- assign reviewRating = object.metafields.orankl.rating -%}
        {%- elsif object.metafields.loox.num_reviews != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 7 -%}
            {%- assign reviewCount = object.metafields.loox.num_reviews | plus:0 -%}
            {%- assign reviewRating = object.metafields.loox.avg_rating -%}
        {%- elsif object.metafields.vnreviews.reviewCount != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 9 -%}
            {%- assign reviewCount = object.metafields.vnreviews.reviewCount | plus:0 -%}
            {%- assign reviewRating = object.metafields.vnreviews.ratingValue -%}
        {%- elsif object.metafields.kudobuzz.reviews_count != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 10 -%}
            {%- assign reviewCount = object.metafields.kudobuzz.reviews_count | plus:0 -%}
            {%- assign reviewRating = object.metafields.kudobuzz.review_rating -%}
        {%- elsif shop.metafields.judgeme.all_reviews_rating != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 3 -%}
            {%- assign reviewCount = object.metafields.judgeme.badge | split: "data-number-of-reviews='" | last | split: "'" |first | plus: 0 -%}
            {%- assign reviewRating = object.metafields.judgeme.badge | split: "data-average-rating='" | last | split: "'" |first | plus: 0  -%}
        {%- elsif object.metafields.product_schema.th_ratingCount != blank and object.metafields.product_schema.th_ratingCount != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 4 -%}
            {%- assign reviewCount = object.metafields.product_schema.th_ratingCount | plus:0 -%}
            {%- assign reviewRating = object.metafields.product_schema.th_ratingValue -%}
        {%- elsif object.metafields.helpfulcrowd.reviews_count != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 11 -%}
            {%- assign reviewCount = object.metafields.helpfulcrowd.reviews_count | plus:0 -%}
            {%- assign reviewRating = object.metafields.helpfulcrowd.rating -%}
        {%- elsif object.metafields.ryviu.reviews != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 16 -%}
  			{%- assign reviewRating = object.metafields.ryviu.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
  			{%- assign reviewCount = object.metafields.ryviu.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
        {%- elsif object.metafields.spr.reviews != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 2 -%}
  			{%- assign reviewRating = object.metafields.spr.reviews | split: 'ratingValue": "' | last | split: '"' |first | plus: 0 -%}
  			{%- assign reviewCount = object.metafields.spr.reviews | split: 'reviewCount": "' | last | split: '"' |first | plus: 0 -%}
            {%- if reviewCount == 0 and reviewRating == 0 -%}
              {%- assign reviewCount = object.metafields.spr.reviews | split: 'votes" content="' | last | split: '"' |first | plus: 0 -%}
              {%- assign reviewRating = object.metafields.spr.reviews | split: 'average" content="' | last | split: '"' |first | plus: 0  -%}
            {%- endif -%}
        {%- elsif object.metafields.alireviews.seo_rating_review_key_script != blank and shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 13 -%}
  			{%- assign reviewRating = product.metafields.alireviews.seo_rating_review_key_script | split: 'ratingValue": "' | last | split: '"' |first | plus: 0 -%}
  			{%- assign reviewCount = product.metafields.alireviews.seo_rating_review_key_script | split: 'reviewCount": "' | last | split: '"' |first | plus: 0 -%}
        {%- endif -%}
		{%- if reviewCount < 1 or shop.metafields.richsnippets_app.reviewapp == 12 -%}
			{%- assign reviewEnabled = object.metafields.richsnippets_reviews.review_enabled | plus:0 -%}
        	{%- if reviewEnabled == 1 -%}
        		{%- assign reviewCount = object.metafields.richsnippets_reviews.review_count | plus:0 -%}
        		{%- assign reviewRating = object.metafields.richsnippets_reviews.review_rating  -%}
        	{%- endif -%}
		{%- endif -%}
		{%- if shop.metafields.richsnippets_app.reviewapp != blank and shop.metafields.richsnippets_app.reviewapp == 1 -%}
          {%- assign reviewCount = 0 -%}
          {%- assign reviewRating = 0 -%}
		{%- endif -%}
	{%- endif -%}
    {%- if shop.metafields.richsnippets_social.facebook != blank -%}
    {%- assign socialprofile_facebook = shop.metafields.richsnippets_social.facebook | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.twitter != blank -%}
    {%- assign socialprofile_twitter = shop.metafields.richsnippets_social.twitter | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.youtube != blank -%}
    {%- assign socialprofile_youtube = shop.metafields.richsnippets_social.youtube | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.linkedin != blank -%}
    {%- assign socialprofile_linkedin = shop.metafields.richsnippets_social.linkedin | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.google != blank -%}
    {%- assign socialprofile_google = shop.metafields.richsnippets_social.google | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.pinterest != blank -%}
    {%- assign socialprofile_pinterest = shop.metafields.richsnippets_social.pinterest | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.instagram != blank -%}
    {%- assign socialprofile_instagram = shop.metafields.richsnippets_social.instagram | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.tumblr != blank -%}
    {%- assign socialprofile_tumblr = shop.metafields.richsnippets_social.tumblr | prepend: ',"' | append: '"' -%}
    {%- endif -%}
    {%- if shop.metafields.richsnippets_social.soundcloud != blank -%}
    {%- assign socialprofile_soundcloud = shop.metafields.richsnippets_social.soundcloud | prepend: ',"' | append: '"' -%}
    {%- endif -%}

    {%- assign sameAs = socialprofile_facebook | append: socialprofile_twitter | append: socialprofile_youtube | append: socialprofile_linkedin | append: socialprofile_google | append: socialprofile_pinterest | append: socialprofile_instagram| append: socialprofile_tumblr| append: socialprofile_soundcloud -%}
    {%- if template contains 'index' -%}
    <script type="application/ld+json" class="richsnippets">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ shop.url }}",
        "name": {{ shop.name | json }},
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ shop.url }}/search?q={query}",
            "query-input": "required name=query"
        }
    }
    </script>
    <script type="application/ld+json" class="richsnippets">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        "url": "{{ shop.url }}",
        "description": {{ shop.description | json }},
        "telephone": "{{ shop.phone }}",
        "sameAs": [{{ sameAs | remove_first: "," }}]
        {%- if shop.metafields.richsnippets_app.hideaddress == blank -%}
        ,"address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ shop.address.street }}",
            "addressLocality": "{{ shop.address.city }}",
            "addressRegion": "{{ shop.address.province }}",
            "postalCode": "{{ shop.address.zip }}",
            "addressCountry": "{{ shop.address.country }}"
        }
        {%- endif -%}
        {%- if shop.metafields.richsnippets_logo != blank -%}
        ,"logo": "{{ shop.metafields.richsnippets_logo.logo }}"
        {%- endif -%}
    }
    </script>
    {%- endif -%}
    {% if template.name == 'collection' %}
    <script type="application/ld+json" class="richsnippets">
        {
          "@graph": [
            {
              "@context": "https://schema.org/",
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": "1",
                  "item": {
                    "@id": {{ shop.url | json }},
                    "name": "Home",
                    "url": {{ shop.url | json }}
                  }
                },
                {
                  "@type": "ListItem",
                  "position": "2",
                  "item": {
                    "@id": {{ canonical_url | json }},
                    "name": {{ collection.title | json }},
                    "url": {{ canonical_url | json }}
                  }
                }
              ]
            }
          ]
        }
    </script>

    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"ItemList",
      "itemListElement":[
      {% paginate collection.products by 10 %}
      {%- assign count = 0 -%}
      {%- for product in collection.products -%}
      	{%- assign count = count | plus: 1 -%}
        {
          "@type":"ListItem",
          "position":{{ count }},
          "url":{{ product.url | prepend: shop.url | json }}
        }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
        {% endpaginate %}
      ]
    }
    </script>
    {%- endif -%}

    {%- if template contains 'product' and shop.metafields.richsnippets_app.hideproduct == blank -%}
        <script type="application/ld+json" class="richsnippets">
          {
            "@context": "https://schema.org",
            "@id": {{ canonical_url | append: '#product' | json }},
            "@type": "Product",
            "brand": {
              "@type": "Brand",
              "name": {{ product.vendor | json }}
            },
            "sku": {%- if product.selected_or_first_available_variant.sku != blank -%}{{ product.selected_or_first_available_variant.sku | json }}{%- else -%}{{ product.id | json }}{%- endif -%},
            "mpn": {%- if product.selected_or_first_available_variant.barcode != blank -%}{{ product.selected_or_first_available_variant.barcode | json }}{%- else -%}{{ product.id | json }}{%- endif -%},
            "description": {{ product.description | strip_html | json }},
            "url": {{ canonical_url | json }},
            "name": {{ product.title | json }},
            {%- if product.featured_image -%}
            "image": "https:{{ product.featured_image | img_url: 'grande' }}",
            {%- else -%}
            "image": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif",
            {%- endif -%}
            "itemCondition": "http://schema.org/NewCondition",
              "offers" : [
              {% for variant in product.variants -%}{
                  "@type" : "Offer" ,
                  "priceCurrency" : "{{ shop.currency }}" ,
                  "price" : "{{ variant.price | money_without_currency | remove: ',' | remove: '.' | plus: 0 | divided_by: 100.0 | round: 2 }}",
                  "priceValidUntil": {{ "today" | date: '%s' | plus: 7776000 | date: "%Y-%m-%d" | json }},
                  "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
                  "itemCondition": "http://schema.org/NewCondition",
              {%- if variant.sku != blank %}
                  "sku": "{{ variant.sku }}" ,
              {%- endif %}
              {%- if variant.title != "Default Title" %}
                  "name": "{{ variant.title | strip_newlines | strip_html | escape_once | replace: '\', '\\\\' }}" ,
              {%- endif -%}
                  "url" : "{{ shop.url | append: variant.url }}" ,
                  "seller" : {
                      "@type" : "Organization" ,
                      "name" : "{{ shop.name | strip_newlines | strip_html | escape_once | replace: '\', '\\\\' }}"
                  }
              }{% unless forloop.last %},{% endunless %}
              {% endfor %}
              ]
              {%- if product.selected_or_first_available_variant.barcode.size == 12 -%}
                  ,"gtin12": "{{ product.selected_or_first_available_variant.barcode }}"
              {%- endif -%}
              {%- if product.selected_or_first_available_variant.barcode.size == 13 -%}
                  ,"gtin13": "{{ product.selected_or_first_available_variant.barcode }}"
              {%- endif -%}
              {%- if product.selected_or_first_available_variant.barcode.size == 14 -%}
                  ,"gtin14": "{{ product.selected_or_first_available_variant.barcode }}"
              {%- endif -%}
              {%- if reviewCount > 0 -%}
                  ,"aggregateRating": {
                      "@type": "AggregateRating",
                      "ratingValue": "{{ reviewRating }}",
                      "ratingCount ": "{{ reviewCount }}"
                  },
                  "review": {
                    "@type": "Review",
                    "reviewRating": {
                      "@type": "Rating",
                      "ratingValue": "{{ reviewRating }}",
                      "bestRating": "5"
                    },
                    "author": {
                      "@type": "Organization",
                      "name": "{{ shop.name }}"
                    }
                  }
             {%- endif -%}
          }
        </script>

        {% if product.metafields.richsnippets_recipes.enabled != blank %}
          <script type="application/ld+json" class="richsnippets">
              {
                "@context": "https://schema.org"
                ,"@type": "Recipe"
                ,"name": {{ product.title | json }}
                ,"description": {{ product.metafields.richsnippets_recipes.description | strip_html | json }}
                ,"author": {{ product.metafields.richsnippets_recipes.author | json }}
                {%- if product.featured_image -%}
                ,"image": "https:{{ product.featured_image | img_url: 'grande' }}"
                {%- else -%}
                ,"image": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.prepTime != blank -%}
                ,"prepTime": "PT{{ product.metafields.richsnippets_recipes.prepTime }}M"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.cookTime != blank -%}
                ,"cookTime": "PT{{ product.metafields.richsnippets_recipes.cookTime }}M"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.prepTime != blank and product.metafields.richsnippets_recipes.cookTime != blank -%}
                ,"totalTime": "PT{{ product.metafields.richsnippets_recipes.prepTime | plus: product.metafields.richsnippets_recipes.cookTime }}M"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.keywords != blank -%}
                ,"keywords": "{{ product.metafields.richsnippets_recipes.keywords }}"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.recipeYield != blank -%}
                ,"recipeYield": "{{ product.metafields.richsnippets_recipes.recipeYield }}"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.recipeCategory != blank -%}
                ,"recipeCategory": "{{ product.metafields.richsnippets_recipes.recipeCategory }}"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.recipeCuisine != blank -%}
                ,"recipeCuisine": "{{ product.metafields.richsnippets_recipes.recipeCuisine }}"
                {%- endif -%}
                {%- if product.metafields.richsnippets_recipes.suitableForDiet != blank -%}
                ,"suitableForDiet": "{{ product.metafields.richsnippets_recipes.suitableForDiet }}"
                {%- endif -%}
              {%- if product.metafields.richsnippets_recipes.nutritionCalories != blank -%}
                ,"nutrition": [
                  {
                      "@type": "NutritionInformation",
                      "calories": "{{ product.metafields.richsnippets_recipes.nutritionCalories }}"
                  }
                ]
              {%- endif -%}
              {%- if product.metafields.richsnippets_recipes.recipeIngredient != blank -%}
                  {%- assign recipeIngredients = product.metafields.richsnippets_recipes.recipeIngredient | strip | strip_newlines | split: "*##*" -%}
                  {%- assign recipeLast = recipeIngredients | last -%}
                  ,"recipeIngredient": [
                  {%- for recipeIngredient in recipeIngredients -%}
                      "{{ recipeIngredient }}"{%- if recipeIngredient != recipeLast -%},{%- endif -%}
                  {%- endfor -%}
                  ]
              {%- endif -%}
              {%- if product.metafields.richsnippets_recipes.recipeIngredient != blank -%}
                  {%- assign recipeInstructions = product.metafields.richsnippets_recipes.recipeInstructions | strip | strip_newlines | split: "*##*" -%}
                  {%- assign instructionLast = recipeInstructions | last -%}
                  ,"recipeInstructions": [
                  {%- for recipeInstruction in recipeInstructions -%}
                      {
                          "@type": "HowToStep",
                          "text": "{{ recipeInstruction }}"
                      }{%- if recipeInstruction != instructionLast -%},{%- endif -%}
                  {%- endfor -%}
                  ]
              {%- endif -%}
              {%- if reviewCount > 0 -%}
                  ,"aggregateRating": {
                      "@type": "AggregateRating",
                      "ratingValue": "{{ reviewRating }}",
                      "ratingCount ": "{{ reviewCount }}"
                  },
                  "review": {
                    "@type": "Review",
                    "reviewRating": {
                      "@type": "Rating",
                      "ratingValue": "{{ reviewRating }}",
                      "bestRating": "5"
                    },
                    "author": {
                      "@type": "Organization",
                      "name": "{{ shop.name }}"
                    }
                  }
             {%- endif -%}
              }
          </script>
        {% endif %}
        <script type="application/ld+json" class="richsnippets">
              {
              "@context": "https://schema.org/",
              "@graph": [
                {
                  "@context": "https://schema.org/",
                  "@type": "BreadcrumbList",
                  "itemListElement": [
                    {
                      "@type": "ListItem",
                      "position": "1",
                      "item": {
                        "name": "Home",
                        "@id": {{ shop.url | json }}
                      }
                    },
                    {% if collection %}
                        {
                          "@type": "ListItem",
                          "position": "2",
                          "item": {
                            "@id": {{ collection.url | prepend: shop.url | json }},
                            "name": {{ collection.title | json }},
                            "url": {{ collection.url | prepend: shop.url | json }}
                          }
                        },
                        {
                          "@type": "ListItem",
                          "position": "3",
                          "item": {
                            "@id": {{ product.url | prepend: shop.url | json }},
                            "name": {{ product.title | json }},
                            "url": {{ product.url | prepend: shop.url | json }}
                          }
                        }
                    {% else %}
                       {
                          "@type": "ListItem",
                          "position": "2",
                          "item": {
                            "@id": {{ product.url | prepend: shop.url | json }},
                            "name": {{ product.title | json }},
                            "url": {{ product.url | prepend: shop.url | json }}
                          }
                        }
                    {% endif %}
                  ]
                }
             ]
            }
            </script>
            {%- if product.metafields.richsnippets_app.faqs != blank -%}
            <script type="application/ld+json" class="richsnippets">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [
                  {%- for key_value in product.metafields.richsnippets_app['faqs'] -%}
                      {
                        "@type": "Question",
                        "name": {{ key_value['question'] | strip | json }},
                        "acceptedAnswer": {
                          "@type": "Answer",
                          "text": {{ key_value['answer'] | strip | json }}
                        }
                      }{%- if forloop.last == false -%},{%- endif -%}
                  {%- endfor -%}
                    ]
                  }
            </script>
            {%- endif -%}
            {%- if product.metafields.richsnippets_app.videos != blank -%}
            <script type="application/ld+json" class="richsnippets">
                {
                    "@context": "https://schema.org",
                    "@type": "VideoObject",
                    "name": {{ product.metafields.richsnippets_app['videos'][0]['name'] | strip | json }},
                    "description": {{ product.metafields.richsnippets_app['videos'][0]['description'] | strip | json }},
                    "uploadDate": {{ product.metafields.richsnippets_app['videos'][0]['uploadDate'] | strip | json }},
                    "contentUrl": {{ product.metafields.richsnippets_app['videos'][0]['contentUrl'] | strip | json }},
                    "embedUrl": {{ product.metafields.richsnippets_app['videos'][0]['embedUrl'] | strip | json }},
                    "thumbnailUrl": [
                        "https:{{ product.featured_image | img_url: 'grande' }}"
                    ]
                }
            </script>
            {%- endif -%}
    {%- elsif template contains 'article' -%}
        {%- assign wordCount = article.content | strip_html | strip_newlines | downcase | split:' ' -%}
        <script type="application/ld+json" class="richsnippets">
        {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "url": {{ canonical_url | json }},
          "mainEntityOfPage": {{ canonical_url | json }},
          "name": {{ article.title | json }},
          "headline": {{ article.title | json }},
          {%- if article.image.src -%}
          "image": "https:{{ article.image.src | img_url: 'grande' }}",
          {%- endif -%}
          "keywords": "{{ article.tags | join: "," }}",
          "wordcount": {{ wordCount | size }},
          "datePublished": "{{ article.published_at | date: "%Y-%m-%d" }}",
          "dateCreated": "{{ article.created_at | date: "%Y-%m-%d" }}",
          "dateModified": "{{ article.created_at | date: "%Y-%m-%d" }}",
          "description": {{ article.excerpt_or_content | strip_html | json }},
          "articleBody": {{ article.content | strip_html | json }},
          "commentCount": {{ article.comments_count }},
          "publisher": {
            "@type": "Organization",
            "@id": "{{ shop.url }}#organization",
            "name": {{ shop.name | json }}
            {%- if shop.metafields.richsnippets_logo != blank -%}
            ,"logo": {
              "@type": "ImageObject",
              "url": "{{ shop.metafields.richsnippets_logo.logo }}"
            }
            {%- endif -%}
          },
          "author": {
            "@type": "Person",
            "name": {{ article.author | json }}
          }
            {%- if reviewCount > 0 -%}
                ,"review": {
                  "@type": "Review",
                  "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "{{ reviewRating }}",
                    "bestRating": "5"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "{{ shop.name }}"
                  }
                }
           {%- endif -%}
        }
        </script>

        {%- if article.metafields.richsnippets_recipes.enabled != blank -%}
            <script type="application/ld+json" class="richsnippets">
                {
                  "@context": "https://schema.org"
                  ,"@type": "Recipe"
                  ,"name": {{ article.title | json }}
                  ,"description": {{ article.metafields.richsnippets_recipes.description | strip_html | json }}
                  ,"author": {{ article.metafields.richsnippets_recipes.author | json }}
                  {%- if article.image.src -%}
                  ,"image": "https:{{ article.image.src | img_url: 'grande' }}"
                  {%- else -%}
                  ,"image": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.prepTime != blank -%}
                  ,"prepTime": "PT{{ article.metafields.richsnippets_recipes.prepTime }}M"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.cookTime != blank -%}
                  ,"cookTime": "PT{{ article.metafields.richsnippets_recipes.cookTime }}M"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.prepTime != blank and article.metafields.richsnippets_recipes.cookTime != blank -%}
                  ,"totalTime": "PT{{ article.metafields.richsnippets_recipes.prepTime | plus: article.metafields.richsnippets_recipes.cookTime }}M"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.keywords != blank -%}
                  ,"keywords": "{{ article.metafields.richsnippets_recipes.keywords }}"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.recipeYield != blank -%}
                  ,"recipeYield": "{{ article.metafields.richsnippets_recipes.recipeYield }}"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.recipeCategory != blank -%}
                  ,"recipeCategory": "{{ article.metafields.richsnippets_recipes.recipeCategory }}"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.recipeCuisine != blank -%}
                  ,"recipeCuisine": "{{ article.metafields.richsnippets_recipes.recipeCuisine }}"
                  {%- endif -%}
                  {%- if article.metafields.richsnippets_recipes.suitableForDiet != blank -%}
                  ,"suitableForDiet": "{{ article.metafields.richsnippets_recipes.suitableForDiet }}"
                  {%- endif -%}
                {%- if article.metafields.richsnippets_recipes.nutritionCalories != blank -%}
                  ,"nutrition": [
                    {
                        "@type": "NutritionInformation",
                        "calories": "{{ article.metafields.richsnippets_recipes.nutritionCalories }}"
                    }
                  ]
                {%- endif -%}
                {%- if article.metafields.richsnippets_recipes.recipeIngredient != blank -%}
                    {%- assign recipeIngredients = article.metafields.richsnippets_recipes.recipeIngredient | strip | strip_newlines | split: "*##*" -%}
                    {%- assign recipeLast = recipeIngredients | last -%}
                    ,"recipeIngredient": [
                    {%- for recipeIngredient in recipeIngredients -%}
                        "{{ recipeIngredient }}"{%- if recipeIngredient != recipeLast -%},{%- endif -%}
                    {%- endfor -%}
                    ]
                {%- endif -%}
                {%- if article.metafields.richsnippets_recipes.recipeIngredient != blank -%}
                    {%- assign recipeInstructions = article.metafields.richsnippets_recipes.recipeInstructions | strip | strip_newlines | split: "*##*" -%}
                    {%- assign instructionLast = recipeInstructions | last -%}
                    ,"recipeInstructions": [
                    {%- for recipeInstruction in recipeInstructions -%}
                        {
                            "@type": "HowToStep",
                            "text": "{{ recipeInstruction }}"
                        }{%- if recipeInstruction != instructionLast -%},{%- endif -%}
                    {%- endfor -%}
                    ]
                {%- endif -%}
                {%- if reviewCount > 0 -%}
                    ,"aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "{{ reviewRating }}",
                        "ratingCount ": "{{ reviewCount }}"
                    },
                    "review": {
                      "@type": "Review",
                      "reviewRating": {
                        "@type": "Rating",
                        "ratingValue": "{{ reviewRating }}",
                        "bestRating": "5"
                      },
                      "author": {
                        "@type": "Organization",
                        "name": "{{ shop.name }}"
                      }
                    }
               {%- endif -%}
                }
            </script>
        {%- endif -%}

        {%- if article.metafields.richsnippets_app.faqs != blank -%}
        <script type="application/ld+json" class="richsnippets">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "mainEntity": [
              {%- for key_value in article.metafields.richsnippets_app['faqs'] -%}
                  {
                    "@type": "Question",
                    "name": {{ key_value['question'] | strip | json }},
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": {{ key_value['answer'] | strip | json }}
                    }
                  }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
                ]
              }
        </script>
        {%- endif -%}
    {%- elsif template contains 'page' -%}
        {%- if page.metafields.richsnippets_app.faqs != blank -%}
        <script type="application/ld+json" class="richsnippets">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "mainEntity": [
              {%- for key_value in page.metafields.richsnippets_app['faqs'] -%}
                  {
                    "@type": "Question",
                    "name": {{ key_value['question'] | strip | json }},
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": {{ key_value['answer'] | strip | json }}
                    }
                  }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
                ]
              }
        </script>
        {%- endif -%}
    {%- endif -%}
    {% if template contains 'blog' or template contains 'article' %}
        <script type="application/ld+json" class="richsnippets">
            {
              "@graph": [
                {
                  "@context": "https://schema.org/",
                  "@type": "BreadcrumbList",
                  "itemListElement": [
                    {
                      "@type": "ListItem",
                      "position": 1,
                      "item": {
                        "@id": "{{ shop.url }}{{ blog.url }}",
                        "name": {{ blog.title | json }}
                      }
                    }
                    {% if template contains 'article' %}
                      ,
                      {
                        "@type": "ListItem",
                        "position": 2,
                        "item": {
                          "@id": "{{ shop.url }}{{ article.url }}",
                          "name": {{ article.title | json }}
                        }
                      }
                    {%- endif -%}
                  ]
                }
              ]
            }
        </script>
    {%- endif -%}
<script>
var config = { attributes: false, childList: true, characterData: false }

{% if template contains 'product' %}
var snippetId = '{{ canonical_url | append: '#product' | json }}';
var objectName = '{{ product.name }}';
var shopName = '{{ shop.name }}';

{%- if shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 14 -%}
document.addEventListener("DOMContentLoaded", function(event){var t=document.querySelector(".yotpo-main-widget");var o=new MutationObserver(function(t){t.forEach(function(t){if(t.type==="childList"){if(t.target.classList.contains("yotpo-main-widget")){var e=document.querySelectorAll(".main-widget .yotpo-stars .rating-star").length;var i=document.querySelectorAll(".main-widget .yotpo-sum-reviews .based-on")[0].innerHTML;i=i.match(/\d+/g)[0];var a=document.createElement("script");a.type="application/ld+json";a.classList.add("richsnippets");var n='{"@context": "https://schema.org","@id": '+snippetId+',"@type": "Product","aggregateRating": {"@type": "AggregateRating","description": "Reviews for '+objectName+'","ratingValue": "'+e+'","ratingCount": "'+i+'"},"review": {"@type": "Review","reviewRating": {"@type": "Rating","ratingValue": "'+e+'","bestRating": "5"},"author": {"@type": "Organization","name": "'+shopName+'"}}}';a.innerHTML=n;document.body.appendChild(a);o.disconnect();return}}})});o.observe(t,config);});
{%- elsif shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 15 -%}
document.addEventListener("DOMContentLoaded", function(event){var o=document.querySelectorAll(".rf-reviews")[0];var c=new MutationObserver(function(e){e.forEach(function(e){if(e.type==="childList"){if(e.target.classList.contains(o.className)){var r=o.querySelector(".rf-productreviewsummary-container");var t=0;var i=o.querySelectorAll(".rf-productreviewsummary-container .rf-review-stars .rf-review-star").length;var t=o.querySelector(".rf-productreviewsummary-container .rf-review-summary").innerHTML;t=t.match(/\d+/g)[0];if(t>0){var a=document.createElement("script");a.type="application/ld+json";a.classList.add("richsnippets");var n='{"@context": "https://schema.org","@id": '+snippetId+',"@type": "Product","aggregateRating": {"@type": "AggregateRating","description": "Reviews for '+objectName+'","ratingValue": "'+i+'","ratingCount": "'+t+'"},"review": {"@type": "Review","reviewRating": {"@type": "Rating","ratingValue": "'+i+'","bestRating": "5"},"author": {"@type": "Organization","name": "'+shopName+'"}}}';a.innerHTML=n;document.body.appendChild(a);c.disconnect();return}}}})});c.observe(o,config);});
{%- elsif shop.metafields.richsnippets_app.reviewapp == blank or shop.metafields.richsnippets_app.reviewapp == 6 -%}
setTimeout(function(){var e=document.querySelector('.stamped-header meta[itemprop="ratingValue"]').content;var t=document.querySelector('.stamped-header meta[itemprop="reviewCount"]').content;var a=document.createElement("script");a.type="application/ld+json";a.classList.add("richsnippets");var i='{"@context": "https://schema.org","@id": '+snippetId+',"@type": "Product","aggregateRating": {"@type": "AggregateRating","description": "Reviews for '+objectName+'","ratingValue": "'+e+'","ratingCount": "'+t+'"},"review": {"@type": "Review","reviewRating": {"@type": "Rating","ratingValue": "'+e+'","bestRating": "5"},"author": {"@type": "Organization","name": "'+shopName+'"}}}';a.innerHTML=i;document.body.appendChild(a)},1e3);
{%- endif -%}
{% endif %}
document.addEventListener("DOMContentLoaded",function(t){var o=document.querySelector("body");var p=new MutationObserver(function(t){t.forEach(function(t){if(t.type==="childList"){var o=document.querySelectorAll("[itemtype]");if(o)for(var e=0,i=o.length;e<i;e++){var n=o[e];n.removeAttribute("itemtype"),n.removeAttribute("itemscope"),n.removeAttribute("itemprop")}var r=document.querySelectorAll('script[type="application/ld+json"]');if(r)for(var c=0,e=r.length;c<e;c++){var a=r[c];a.classList.contains("richsnippets")||a.remove()}p.disconnect()}})});p.observe(o,config)});
</script>
{%- endif -%}