{% comment %} Product {% endcomment %}
{% if product.available %}

    {% if section.settings.show_payment_button %}
        {% assign show_payment_button = true %}
        {% elsif show_payment_button_quickshop %}
        {% assign show_payment_button = true %}
    {% else %}
        {% assign show_payment_button = false %}
    {% endif %}

    {% comment %} Product json data {% endcomment %}
    <div id="product-js-data" style="display: none">{{ product | json }}</div>

    <!-- Product url -->
    <input type="hidden" id="product-url" value="{{ shop.url }}{{ product.url }}">

    {% comment %} Variants {% endcomment %}
    {% if product.variants %}
        {% assign product_variants = product.variants | map:'option2' | uniq %}
        {% assign product_variants_available = product.variants | where:'available' %}
        {% assign product_variants_available = product_variants_available | map:'option2' | uniq %}
        <div class="product-color-header">
            <div class="color-heading">Color</div>
            <div class="color-name"></div>
        </div>
        <ul id="product-swatches" class="product-colors" data-selected-size="">
            {% for variant in product_variants %}
                <li>
                    <div class="tooltip">{{ variant }}</div>
                    <label>
                        <span class="radio-bg" style="background-image: url({{ variant | downcase | handle | escape | append: '.png' | asset_img_url:'50x' }});
                                background-color:{{ variant | split: ' ' | last | downcase }}"></span>
                        {% if product_variants_available contains variant %}
                            <input data-variant-id="{{ variant.id }}" type="radio" value="{{ variant }}"
                                   data-handleize="{{ variant | downcase | handleize }}"
                                   name="product_color">
                            <span class="radio-checked"></span>
                        {% else %}
                            <input data-variant-id="{{ variant.id }}" type="radio" disabled="disabled" value="{{ variant }}"
                                   data-handleize="{{ variant | downcase | handleize }}"
                                   name="product_color">
                            <span class="radio-checked"></span>
                            <img class="color-disable" src="{{ 'soldout.png' | asset_url }}" alt="soldout">
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>

        {% comment %} Normal price {% endcomment %}
        <div class="product-price">
            <div class="format-price">$0.00</div>
            <a href="#reviews" style="margin-left:10px">
                <span class="loox-rating" data-id="{{ product.id }}"
                      data-rating="{{ product.metafields.loox.avg_rating }}"
                      data-raters="{{ product.metafields.loox.num_reviews }}">
                </span>
            </a>
        </div>

        {% comment %} Compare price {% endcomment %}
        <div class="product-price-compare">
            <div class="format-price">$0.00</div>
        </div>

        {% comment %} Sizes {% endcomment %}
        {% assign sizes = product.variants | map:'option1' | uniq %}
        {% if sizes %}
            <div class="product-sizes">
                <div class="sizes-heading">Select a Size</div>
                <ul class="sizes-list">
                    {% for size in sizes %}
                        <li id="size-{{ size }}">
                            <label>
                                <span>{{ size }}</span>
                                <input type="radio" value="{{ size }}" name="product-size" disabled="disabled">
                                <span class="radio-checked"></span>
                                <img class="size-disable" src="{{ 'soldout.png' | asset_url }}" alt="size">
                            </label>
                        </li>
                    {% endfor %}
                </ul>
				
                {% comment %} Sizes popup {% endcomment %}
                {% if product.options contains 'Size' %}
                    <div class="size-chart-popup_wrapper">
                        {% include 'size-chart-popup' %}
                    </div>
                {% endif %}

            </div>
        {% endif %}
		
		{% assign has_sold_out_variants = false %}
                {% for variant in product.variants %}
                    {% if variant.available == false %}
                        {% assign has_sold_out_variants = true %}
                  {% endif %}
                {% endfor %}

                {% if has_sold_out_variants %}
					<div class="bold_bis_wrapper">
                      <a href="#" id="BIS_trigger" class="button" style="margin: 0 auto;">Can't find your size?</a>
                    </div>
                {% endif %}
        {% comment %} Add to cart button {% endcomment %}
        {% comment %}<form action="/cart/add" method="post" id="add-to-cart-form">{% endcomment %}
        {% form 'product', product, id: "add-to-cart-form" %}
            <input id="Quantity" type="hidden" name="quantity" value="1" min="1">
            <input id="form-variant-id" type="hidden" name="id" value="0">
            <div class="product-buy-button">
                <button id="product-cart-btn" data-enable="Add to Cart" data-disable="Select a Size"
                        type="submit" class="btn-disable">Select a Size
                </button>
            </div>
            {% comment %}<select name="id" id="productSelect">
                {% for variant in product.variants %}
                    {% if variant.available %}
                        <option value="{{ variant.id }}">
                            {{ variant.title }} - {{ variant.price | money_with_currency }}
                        </option>
                    {% else %}
                        <option disabled="disabled">
                            {{ variant.title }} - sold out
                        </option>
                    {% endif %}
                {% endfor %}
                </select>{% endcomment %}
            {% comment %}{{ current_variant.price | money }}
                <label for="Quantity">quantity</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1">{% endcomment %}
            {{ form | payment_button }}
			<!-- Shopping Guarantee Seal -->
<script type="text/javascript" src="//guarantee-cdn.com/Web/Seal/gjs.aspx?SN=966044635&T=1"></script>
            {% comment %}</form>{% endcomment %}
        {% endform %}

    {% endif %}

{% endif %}