{% comment %} Product Images {% endcomment %}
{% if product.images %}
    {% comment %} Product slider {% endcomment %}
    <div class="product-carousel-container">
        <div class="product-carousel-loader"></div>
        <div data-product-id="{{ product.id }}" class="product-carousel light-gallery">
            {% for image in product.images %}
                <div class="carousel-slide" data-image-id="{{ image.id }}">
                    <div class="slide-overlay"></div>
                    <div class="image-wrapper">
                        {% assign hs_data_src = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ image.alt }}" class="lazyload hs-lazyload hs-id-3f62a229" data-aspectratio="{{ image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ image | img_url:'1024x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% comment %} Navigation {% endcomment %}
    <div class="product-carousel-nav">
        {% for image in product.images %}
            <div class="carousel-slide">
                {% assign hs_data_src = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ image.alt }}" class="lazyload hs-lazyload hs-id-3f62a229" data-aspectratio="{{ image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ image | img_url:'1024x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            </div>
        {% endfor %}
    </div>

    {% comment %} Popup Slider {% endcomment %}
    <div class="product-popup">
        <div class="product-popup-inner">
            {% comment %} Close Button {% endcomment %}
            <a title="Close" class="fancybox-item fancybox-close ss-icon"></a>
            <div data-product-id="{{ product.id }}" class="product-carousel-popup">
                {% for image in product.images %}
                    <div class="carousel-slide" data-image-id="{{ image.id }}">
                        <div class="image-wrapper">
                            {% assign hs_data_src = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ image.alt }}" class="lazyload hs-lazyload hs-id-3f62a229" data-aspectratio="{{ image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ image | img_url:'1024x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}