{% include 'sca_freegift_price' with product %}

{%- assign product_img_url = product.featured_image.src | img_url: '700x' -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '1200x' -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '900x' -%}
{%- endif -%}

{%- if product.images.size > 1 -%}
  {%- assign product2_img_url = product.images[1].src | img_url: '700x' -%}
  {%- if grid_width_large == 'large--one-whole' -%}
    {%- assign product2_img_url = product.images[1].src | img_url: '1200x' -%}
  {%- elsif grid_width_large == 'large--one-half' -%}
    {%- assign product2_img_url = product.images[1].src | img_url: '900x' -%}
  {%- endif -%}
{%- else -%}
  {%- assign product2_img_url = '' -%}
{%- endif -%}

{% assign on_sale = false %}
{% if sca_compare_at_price > sca_price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_offset }} {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}  product-grid-item">
  <a href="{{ product.url | within: collection }}" class="grid__image {% if product2_img_url %}image-switch{% endif %}">
    <img src="{{ product_img_url }}" alt="{{ product.featured_image.alt | escape }}" class="primary">
    {%- if product2_img_url != blank -%}
    <img src="{{ product2_img_url }}" alt="{{ product.featured_image.alt | escape }}" class="secondary">
    {% else %}
    <img src="{{ product_img_url }}" alt="{{ product.featured_image.alt | escape }}" class="secondary">
    {%- endif -%}

    <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </div>
    <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>
  </a>
  <div class="figcaption {{ settings.product_grid_style }} {{ settings.collection_text_alignment | default: 'text-center' }}">
    <a href="{{ product.url | within: collection | capitalize }}">
      <p class="h6 name_wrapper">
        {{ product.title }}
      </p>
    </a>
    {% include 'variants-preview' %}
    {% comment %}<div class="yv-reviews-nano yv-theme-default" data-id="{{ product.id }}">&nbsp;</div>{% endcomment %}
    <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    <p class="price_wrapper">
      <span class="price{% if on_sale %} on-sale{% endif %}">
        {% if sca_price_varies %}{{ 'products.general.from' | t }} {% endif %}
        <span class="money">{{ sca_price | money }}</span>
      </span>
      {% if sold_out %}
      <br /><em>{{ 'products.product.sold_out' | t }}</em>
      {% endif %}
      {% if on_sale %}
      <span class="compare-at">
        <span class="money">{{ sca_compare_at_price | money }}</span>
      </span>
      {% endif %}
      {% if product.metafields.spr.reviews %}
        <br />
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}
    </p>
  </div>
</div>
