{% include 'sca_freegift_price' with product %}

{% if zp_integrate_with_bold_product_options == true %}{% include "bold-common" %}{% include "bold-product" with product, hide_action: "break", output: "none" %}{% elsif zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-product" with product, hide_action: "break" %}{% if bold_hidden_product %}{% break %}{%endif %}{% endif %}{% capture zp_replace_integration %}<zp_additional_integration></zp_additional_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_additional_integration>', '' | replace: '</zp_additional_integration>', '' | strip }}{% assign zp_replace_integration = '' %}{% capture zp_product_var_content %}{% if zp_selected_variants.size < 1 %}{% assign zp_selected_variants = product.variants | map: "id" | join: "," | split: "," %}{% endif %}{% assign zp_filtered_selected_variants = "" %}{% assign zp_first_selected_variant = nil %}{% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% assign zp_variant_id = "" | append: variant.id %}{% if zp_selected_variants contains zp_variant_id %}{% assign zp_filtered_selected_variants = zp_filtered_selected_variants | append: zp_variant_id | append: "," %}{% if zp_first_selected_variant == nil and variant.available %}{% assign zp_first_selected_variant = variant %}{% endif %}{% endif %}{%endunless%}{%endunless%}{% endfor %}{% assign zp_selected_variants = zp_filtered_selected_variants | split: "," %}{% if zp_selected_variants.size < 1 %}{% assign zp_selected_variants = product.variants | map: "id" | join: "," | split: "," %}{% endif %}{% assign zp_first_selected_variant_id_size = "" | append: zp_first_selected_variant.id | size %}{% if zp_first_selected_variant_id_size > 0 %}{% assign zp_first_selected_variant_available = true %}{% else %}{% assign zp_first_selected_variant_available = false %}{% endif %}{% if zp_first_selected_variant_available == true %}{% assign zp_current_product_price = zp_first_selected_variant.price %}{% else %}{% assign zp_current_product_price = sca_price %}{% endif %}{% endcapture %}{% assign zp_product_var_content = "" %}{% capture zp_product_var_content %}
  {% if zp_product_image_size == nil %}{% assign zp_current_product_image_size = '555x' %}{% else %}{% assign zp_current_product_image_size = zp_product_image_size %}{% endif %}
  {% assign zp_product_featured_image = product.featured_image %} {% assign zp_product_default_image = zp_product_featured_image | img_url: zp_current_product_image_size %} {% assign zp_product_featured_image_size = '' | append: zp_first_selected_variant.image.id | strip | size %}{% if zp_first_selected_variant_available == true and zp_product_image_type == 'variant' and zp_show_variants_selectors == true and zp_product_featured_image_size > 0 %}{% assign zp_product_featured_image = zp_first_selected_variant.image %}{% assign zp_product_image = zp_product_featured_image | img_url: zp_current_product_image_size %}{% else %}{% assign zp_product_image = zp_product_default_image %}{% endif %}
  {% if zp_product_redirect_with_params == nil %}{% assign zp_current_product_redirect_with_params = false %}{% else %}{% assign zp_current_product_redirect_with_params = zp_product_redirect_with_params %}{% endif %}
{% endcapture %}<section class="js-cluster-wrapper zp zps_mcontclassescape" id="zps_clstidescape">
  <div class="js-cluster zp zps_mcontclstclassescape">
    <div id="{{ zp_product_wrapper_selector }}" class="flex-row zp zps_prdclassescape">
      <div class="xs-12 sm-6 zpa-mobile-offset-bottom-sm zpa-text-center zpa-mobile-container--hoffset-none {% if zp_product_image_position == 'right' %}first-xs last-sm{% endif %}">
        <img class="zpa-img-fluid zp zps_brdclassescape" src="{{ zp_product_image }}" alt="{{ zp_product_featured_image.alt | escape }}" data-zp-product-image data-zp-product-image-type="product" data-zp-image-id="{{ zp_product_featured_image.id }}" data-zp-default-image="{{ zp_product_default_image }}">
      </div>
      <div class="xs-12 sm-6 zpa-mobile-text-center">
        <div data-description class="zpa-offset-bottom-sm zpa-word-wrap disable-internal-link zp zps_descclassescape">zps_prdbdhtml</div>{% if product.available %}
        <form class="{% if zp_integrate_with_bold_quantity_breaks == true %}shapp_qb_prod{% endif %}" method="post" enctype="multipart/form-data" data-zp-add-to-cart-form data-zp-link-type="zps_prdbtnltpescape" data-zp-product-url="{{ zp_redirect_product_url }}" data-productid="{{ product.id }}" data-zp-redirect-with-url-params="{{ zp_current_product_redirect_with_params }}">{% if zp_show_variants_selectors == true %}
          <div class="zpa-product-variants-form-left zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs zpa-mobile-text-center">{% capture zp_replace_integration %}<zp_additional_property_integration></zp_additional_property_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_additional_property_integration>', '' | replace: '</zp_additional_property_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<select class="hidden noreplace" id="{{ zp_product_selector }}" name="id" data-productid="{{ product.id }}">{% capture zp_product_variants_selector %}
  {% assign zp_selected_variant_marked = false %}
  {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
  {% unless variant.metafields.secomapp.freegifts %}
  {% unless variant.title contains '(Freegifts)' %}
    {% capture zp_product_variant_option %}
      {% assign zp_variant_id = '' | append: variant.id %}
      {% unless zp_selected_variants contains zp_variant_id %}
        {% continue %}
      {% endunless %}
    {% endcapture %}{% capture zp_replace_integration %}<zp_variant_integration></zp_variant_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_variant_integration>', '' | replace: '</zp_variant_integration>', '' | strip }}{% assign zp_replace_integration = '' %}{% if zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-variant" with variant, hide_action: "skip" %}{% endif %}{% capture zp_product_variant_option %}
      {% if variant.available %}
        <option {% if zp_selected_variant_marked == false %}{% assign zp_selected_variant_marked = true %}selected="selected" {% endif %}value="{{ variant.id }}">{{ variant.title }} - {{ bold_variant_price | money_with_currency }}</option>
      {% else %}
        <option disabled="disabled">{{ variant.title }} - {% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}</option>
      {% endif %}
    {% endcapture %}{{ zp_product_variant_option | strip }}
  {%endunless%}
  {%endunless%}    
  {% endfor %}
{% endcapture %}{{ zp_product_variants_selector | strip }}{% assign zp_product_variants_selector = '' %}{% assign zp_product_variant_option = '' %}</select>{% if zp_integrate_with_bold_product_options == true %}<div class="bold_options" data-product-id="{{ product.id }}"></div>{% endif %}{% capture zp_replace_integration %}<zp_property_integration></zp_property_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_property_integration>', '' | replace: '</zp_property_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<div class="zpa-selector-wrapper zpa-quantity zpa-mobile-center-block" data-zp-quantity-wrapper>{% capture zp_quantity_content %}{% if zp_product_show_quantity %}<label for="{{ zp_product_selector }}-quantity">{% assign zp_translation = 'products.product.quantity' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Quantity' %}{% endif %}{{ zp_translation }}</label><div class="zpa-quantity-block"><button class="zpa-btn-custom zpa-quantity-btn" type="button" data-zp-product-decrease-qty><svg class="zpa-quantity-icon" width="12px" height="12px"><use xlink:href="#iconDecrease"></use></svg></button><input class="zpa-quantity-field xs" id="{{ zp_product_selector }}-quantity" type="tel" name="quantity" value="zps_qtyescape" maxlength="2" size="2" pattern="^[1-9][0-9]*" inputmode="numeric" data-zp-product-quantity required><button class="zpa-btn-custom zpa-quantity-btn" type="button" data-zp-product-increase-qty><svg class="zpa-quantity-icon" width="12px" height="12px"><use xlink:href="#iconIncrease"></use></svg></button></div>{% else %}<input type="hidden" name="quantity" value="zps_qtyescape" data-zp-product-quantity>{% endif %}{% endcapture %}{{ zp_quantity_content | strip }}{% assign zp_quantity_content = '' %}</div></div>{% endif %}
          <div class="zpa-offset-bottom-sm zpa-mobile-text-center">
            <span class="zpa-compare-price zpa-offset-right" data-zp-product-compare-price>{% if zp_first_selected_variant_available == true and zp_first_selected_variant.compare_at_price > zp_first_selected_variant.price %}{{ zp_first_selected_variant.compare_at_price | money }}{% elsif sca_compare_at_price_max > sca_price_max %}{{ sca_compare_at_price_max | money }}{% endif %}</span>
            <span class="zpa-regular-price" data-zp-product-price>{{ zp_current_product_price | money }}</span>
          </div>{% if zp_integrate_with_bold_quantity_breaks == true %}<div class="shappify-qty-msg">{{ bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html }}</div>{% endif %}{% capture zp_replace_integration %}<zp_product_info_integration></zp_product_info_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_info_integration>', '' | replace: '</zp_product_info_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<button type="submit" name="add" disabled data-zp-add-to-cart data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-add-to-cart-btn zp zps_prdbtnclassescape" data-zp-link-type="zps_prdbtnltpescape"><span data-zp-add-to-cart-text>{% assign zp_any_product_variant_available = false %}{% for zp_product_variant in product.variants %}
{%- include 'bold-variant' with zp_product_variant, hide_action: 'skip' -%}{% unless zp_product_variant.metafields.secomapp.freegifts %}{% unless zp_product_variant.title contains '(Freegifts)' %}{% assign zp_product_variant_id = '' | append: zp_product_variant.id %}{% if zp_selected_variants contains zp_product_variant_id and zp_product_variant.available == true %}{% assign zp_any_product_variant_available = true %}{% break %}{% endif %}{%endunless%}{%endunless%}{% endfor %}{% if zp_any_product_variant_available == true %}zps_prdbtncpt{% else %}{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}{% endif %}</span></button>{% if zp_show_variants_selectors_link_types contains zp_product_link_type %}<div class="zpa-product-message-wrap"><span class="zpa-product-message hidden" data-zp-product-messages data-zp-success-message="zps_addcrtmsgurl_escape" data-zp-error-class="product-error" data-zp-success-class="product-success"></span></div>{% endif %}<a href="{{ zp_redirect_product_url }}" target="zps_prdbtneltescape" style="display:none!important;" data-zp-product-redirect-link></a></form>{% else %}<button type="button" disabled class="zpa-btn-custom zpa-add-to-cart-btn zp zps_prdbtnclassescape">{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}</button>{% endif %}</div>
    </div>
  </div>
</section>{% if product.available %}<script type="text/json" data-zp-product-init>{"translations":{"addToCart":"zps_prdbtncpturl_escape","soldOut":"{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation | url_escape }}","unavailable":"{% assign zp_translation = 'products.product.unavailable' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Unavailable' %}{% endif %}{{ zp_translation | url_escape }}"},"moneyFormat":"{{ shop.money_format | url_escape }}","productSelector":"{{ zp_product_selector }}","product":{% capture zp_replace_integration %}<zp_product_json_integration>{% capture zp_product_json %}{% if zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-product", output: "json" %}{% else %}{%- include 'bold-product', output: 'json' -%}{% endif %}{% endcapture %}{% if zp_product_json contains "Liquid error: Could not find asset" %}{%- include 'bold-product', output: 'json' -%}{% else %}{{ zp_product_json | strip }}{% endif %}{% assign zp_product_json =  %}</zp_product_json_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_json_integration>', '' | replace: '</zp_product_json_integration>', '' | strip }}{% assign zp_replace_integration = '' %},"selectedVariants":"zps_slctvrnturl_escape","productType":"{{ zp_product_type }}","imageSize":"{{ '' | append: zp_current_product_image_size | strip | default: 'master' | url_escape }}","productDiscountData":"zps_prddscntdataurl_escape","shopifyOptionsSelector":{{ zp_shopify_options_selector }}}</script>{% endif %}{% assign zp_product_image_size = nil %}{% assign zp_first_selected_variant = nil %}