<div class="container">
  <dl class="accordion-open" id="reviews">
      <dt><a href="#" name="reviews"><small class="right">&#8744;</small>Read & Write Reviews <span class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></span></a></dt>
     <dd>   
        <div id="looxReviews" data-product-id="{{product.id}}">{{ product.metafields.loox.reviews }}</div>
    </dd>
  </dl>

</div>







<!-- <div class="container">

  <div class="elfsight-sapp-696c7730-58b3-11e9-bfd4-979825bf12a9"></div>
  
</div> -->