<!-- Product-Swatch.liquid -->
{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = product-swatch %} 
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Softpulse 9-7-2019  -->
{% assign current_option = '' %}
{% for option in product.options_with_values %}
  {% assign current_option = "option" | append: option.position %}
{% endfor %}
<!-- Softpulse 9-7-2019  -->

<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="option_title_wrapper"><span class="option_title">{% if swatch == "Size" %}Select a {% endif %}{{ swatch }}</span>{% if option_index == 1 %}<span class="color_name">{{ variant.option2 }}</span>{% endif %}</div>
  {% assign values = '' %}
  {% for variant in product.variants %}
  	{% if variant.available %}
      {% assign value = variant.options[option_index] | remove: csp_flag_string %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}

         <!-- Softpulse 9-7-2019  -->
          {% assign checked = "" %}
          {% if product.selected_or_first_available_variant[current_option] == value %}
          {% assign checked = 'checked="checked"' %}
          {% endif %}
  
          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" {{checked}} {% comment %}{% if forloop.first %}{% unless swatch == "Size" %} checked{% endunless %}{% endif %}{% endcomment %}  />
         <!-- Softpulse 9-7-2019  -->

          <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
            </label>
          {% else %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}">
              {{ value }}
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
            </label>
          {% endif %}
        </div>
      {% endunless %}

      {% comment %}<script type="text/javascript">
        $('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}-swatch', '#product-form-{{ product.id }}{{ section.id }}{{ block.id }}').removeClass('soldout').addClass('available').find(':radio');
      </script>{% endcomment %}
    {% endif %}
  {% endfor %}
  {% for variant in product.variants %}
  	{% if variant.available == false %}
      {% assign value = variant.options[option_index] | remove: csp_flag_string %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}

  		<!-- Softpulse 9-7-2019  -->
          {% assign checked = "" %}
          {% if product.selected_or_first_available_variant[current_option] == value %}
          {% assign checked = 'checked="checked"' %}
          {% endif %}
          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" {{checked}} {% comment %}{% if forloop.first %}{% unless swatch == "Size" %} checked{% endunless %}{% endif %}{% endcomment %} />
        <!-- Softpulse 9-7-2019  -->

          <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
            </label>
          {% else %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{{ section.id }}{{ block.id }}">
              {{ value }}
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
            </label>
          {% endif %}
        </div>
      {% endunless %}

      {% comment %}<script type="text/javascript">
         $('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}-swatch', '#product-form-{{ product.id }}{{ section.id }}{{ block.id }}').removeClass('soldout').addClass('available').find(':radio');        
      </script>{% endcomment %}
    {% endif %}
  {% endfor %}
</div>