{% include 'sca_freegift_price' with product %}

<!-- /snippets/product-list-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if sca_compare_at_price > sca_price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}
<div class="grid__item">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="grid large--display-table">
    <div class="grid__item large--one-quarter large--display-table-cell medium--one-third small--one-third text-center">
      <a href="{{ product.url | within: collection }}" class="grid__image">
        <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">

        <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </div>
        <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>
      </a>
    </div>
    <div class="grid__item large--three-quarters large--display-table-cell medium--two-thirds small--two-thirds">
      <p class="h3--body"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
      <p class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
        <span class="price">
          {% if sca_price_varies %}{{ 'products.general.from' | t }} {% endif %}
          <span class="money">{{ sca_price | money }}</span>
        </span>
        {% if sold_out %}
        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
        {% endif %}
        {% if on_sale %}
        <br><span class="compare-at"><span class="money">{{ sca_compare_at_price | money }}</span></span>
        {% endif %}
        {% if product.metafields.spr.reviews %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      </p>
      <div class="rte">
        {% if product.excerpt.size > 0 %}
          {{ product.excerpt }}
        {% else %}
          <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
