{% assign featured_image = bold_selected_or_first_available_variant.featured_image | default: product.featured_image %}
<div class="pro-main-slider">
  {% for image in product.images %}
    {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign alt_text = image.alt | split: ' || '  %}
      {% assign color_alt = alt_text[0] %}
      {% assign video_alt = alt_text[1] %}
  
      <div class="pro-main-slide pro-img-bx" data-alt="{{ color_alt }}" data-thumb="{{ image | product_img_url: '300x' }}" data-title="{{ product.title }}">
        
        {% comment %}
<!--         extract Youtube id (we're not using YouTube, but leaving this here in case we want to in the future -->
        {% assign video_id = video_alt | split: 'v=' %}
        {% assign video_id = video_id[1] | split: '&' | first -%}
        {% endcomment %}

<!--         extract Vimeo id  -->
        {% assign video_id = video_alt | split: '/' %}
        {% assign v_video_id = "https://player.vimeo.com/video/328707589" | split: '/' %}

        
        
      <div class="video-container youtube" data-src="https://player.vimeo.com/video/{{ video_id.last }}" iframe-src="https://player.vimeo.com/video/{{ video_id.last }}">
           <div>
             <iframe allow="autoplay; fullscreen" allowfullscreen="" autoplay="" class="lazyload hs-id-35fb8f49" data-src="https://player.vimeo.com/video/{{ video_id.last }}?rel=0&amp;autoplay=1" frameborder="0" height="640" width="640">
</iframe>
          </div>
        </div>  
        
        
        {% if forloop.length == 1 and settings.thumbnail_position == "no-thumbnails" %}
          <style> 
            .product-{{ product.id }} .flex-direction-nav { display: none; }
          </style>
        {% endif %}
      </div>
    {% else %}
      {% assign alt_text = image.alt | split: ' || '  %}
      {% assign color_alt = alt_text[0] %}
  
      <div class="pro-main-slide pro-img-bx" data-alt="{{color_alt}}" data-thumb="{{ image | product_img_url: '300x' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
        
        <a href="{{ image | product_img_url: '2048x' }}" class="fancybox" data-fancybox-group="{{ product.id }}{{ image.alt | escape }}" title="{{ image.alt | escape }}">
          <div class="image__container product-style "  style="max-width: {{ image.width }}px">
            <img src="{{ image | product_img_url: '300x' }}"
                 class="lazyload {% if featured_image.id == image.id %}featured_image{% endif %}"
                 data-image-id="{{ image.id }}" data-index="{{ forloop.index0 }}"
                 data-sizes="auto" data-srcset=" {{ image | product_img_url: '2048x' }} 2048w,
                 {{ image | product_img_url: '1900x' }} 1900w,
                 {{ image | product_img_url: '1600x' }} 1600w,
                 {{ image | product_img_url: '1200x' }} 1200w,
                 {{ image | product_img_url: '1000x' }} 1000w,
                 {{ image | product_img_url: '800x' }} 800w,
                 {{ image | product_img_url: '600x' }} 600w,
                 {{ image | product_img_url: '400x' }} 400w"
                 data-src="{{ image | product_img_url: '2048x' }}"
            />
            <div class="lds-dual-ring"></div>
			<div class="magnify-wrapper">
              <span class="magnify-display">
                <img src=" {{ 'Magnify_Button.png' | file_img_url: '55x55' }}" class="magnify-button"/>
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="pro-thumb-slider">
  {% for image in product.images %}
    {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %} 
      {% assign alt_text = image.alt | split: ' || '  %}
      {% assign color_alt = alt_text[0] %}
      {% assign video_alt = alt_text[1] %}
    
      <div class="pro-thumb-slide thumb-img" data-alt="{{ color_alt }}" id="pro-img-{{ image.id }}" >
        <a href="javascript:void(0)" class="thumb-i-wrap">
          <div class="video-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 124.512 124.512">
              <path d="M113.956,57.006l-97.4-56.2c-4-2.3-9,0.6-9,5.2v112.5c0,4.6,5,7.5,9,5.2l97.4-56.2   C117.956,65.105,117.956,59.306,113.956,57.006z"></path>
            </svg>
          </div>
          {% assign hs_data_src = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img class="lazyload hs-lazyload hs-id-1adde860" data-aspectratio="{{ image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ image | product_img_url: '300x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        </a>
      </div>
    {% else %}
      {% assign alt_text = image.alt | split: ' || '  %}
      {% assign color_alt = alt_text[0] %}
  
      <div class="pro-thumb-slide thumb-img" data-alt="{{ color_alt}}" id="pro-img-{{ image.id }}" >
        <a href="javascript:void(0)" class="thumb-i-wrap">
          {% assign hs_data_src = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img class="lazyload hs-lazyload hs-id-1adde860" data-aspectratio="{{ image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ image | product_img_url: '300x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
