{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

<div class="products">
  {% for product in products limit: limit %}
    {% include 'bold-product' with product, hide_action: 'skip' %}
  
    {% if product.id == skip_product.id or skip == true %}
      {% assign product_found = true %}
    {% else %}
      {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' and template != 'index' %}
        {% assign skip = true %}
      {% else %}
  
      
       <div class="{% if products_per_row == 2 %}eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}">
         <a href="{{ product.url | within: collection }}" itemprop="url">
            <div class="relative product_image">
              <div class="product_container {% if settings.collection_secondary_image != blank and product.images[1] != blank %}swap-{{ settings.collection_secondary_image }}{% else %}swap-false{% endif %}">
                <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- product.featured_image.width -}}px; {% endif %}">
                  <img class="lazyloaded lazyload hs-lazyload hs-id-68b33f7b" data-aspectratio="{{ product.featured_image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-srcset="{{ product.featured_image | product_img_url: '2048x' }} 2048w,
                               {{ product.featured_image | product_img_url: '1600x' }} 1600w,
                               {{ product.featured_image | product_img_url: '1200x' }} 1200w,
                               {{ product.featured_image | product_img_url: '1000x' }} 1000w,
                               {{ product.featured_image | product_img_url: '800x' }} 800w,
                               {{ product.featured_image | product_img_url: '600x' }} 600w,
                               {{ product.featured_image | product_img_url: '400x' }} 400w" src="{{ product.featured_image | product_img_url: '600x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                  
                  {% if settings.collection_secondary_image != blank and product.images[1] != blank %}
                  {% assign hs_data_src = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img class="secondary lazyload hs-lazyload hs-id-354b3183" data-aspectratio="{{ product.images[1].aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ product.images[1] | product_img_url: '900x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                  {% endif %}
               </div>
             </div>
            </div>
           
           <div class="info">
             <span class="title" itemprop="name">{{ product.title }}</span>
             {% if settings.display_vendor_collection %}
             <div class="vendor">
               <span itemprop="brand">{{ product.vendor }}</span>
             </div>
             {% endif %}
             
             {% if settings.enable_shopify_collection_badges %}
             <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
             {% endif %}

             {% unless collection_handles contains 'coming-soon' %}
             <span class="price {% if bold_compare_at_price_max > bold_price %}sale{% endif %}">
               <meta itemprop="price" content="{{ bold_price_min | money_without_currency | remove: "," }}" />
               <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
               <meta itemprop="seller" content="{{ shop.name | escape }}" />
               <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
               <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>

               {% if product.available %}
               {% if bold_price_varies and bold_price_min > 0 %}
               <small><em>{{ 'products.general.from' | t }}</em></small>
               {% endif %}
               {% if bold_price_min > 0 %}
               <span class="money">{{ bold_price_min | money }}</span>
               {% else %}
               {{ settings.free_price_text }}
               {% endif %}
               {% if bold_compare_at_price_max > bold_price %}
               <span class="was_price">
                 <span class="money">{{ bold_compare_at_price_max | money }}</span>
               </span>
               {% endif %}
               {% else %}
               <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
               {% endif %}
             </span>
             {% endunless %}
           
          </div>

           {% if settings.sale_banner_enabled and bold_compare_at_price_max > bold_price %}
           <div class="sale_banner">{{ 'collections.general.sale' | t }}</div>
           {% endif %}

           {% if collection_handles contains 'new' %}
           <div class="new_banner">{{ 'collections.general.new' | t }}</div>
           {% endif %}
           {% if collection_handles contains 'coming-soon' %}
           <div class="new_banner">{{ 'collections.general.coming_soon' | t }}</div>
           {% endif %}
           {% if collection_handles contains 'pre-order' %}
           <div class="new_banner">{{ 'collections.general.pre_order' | t }}</div>
           {% endif %}
  </a>
</div>
  

        {% if products_per_row == 2 %}
          {% cycle collection_group: '', new_row %}
        {% elsif products_per_row == 3 %}
          {% cycle collection_group: '', '', new_row %}
        {% elsif products_per_row == 4 %}
          {% cycle collection_group: '', '', '', new_row %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>






