<link rel="stylesheet" href="{{ 'sca-pp.css' | asset_url }}">
 <script>
  {%if content_for_header contains "cdn.secomapp.com\/promotionpopup\/cdn" %}
	SCAPPLive = {};
  {% endif %}
  SCAPPShop = {};
    {% if customer %}
  SCAPPShop.customer = {};
  SCAPPShop.customer.first_name = '{{customer.first_name}}';
  SCAPPShop.customer.last_name = '{{customer.last_name}}';
  SCAPPShop.customer.email = '{{customer.email}}';
  SCAPPShop.customer.verified_email = '{{customer.verified_email}}';
  SCAPPShop.customer.accepts_marketing = '{{customer.accepts_marketing}}';
  SCAPPShop.customer.has_account = '{{customer.has_account}}';
  SCAPPShop.customer.id = '{{customer.id}}';
  SCAPPShop.customer.tags  = {{customer.tags|json}};
  SCAPPShop.customer.addresses = {{customer.addresses|json}};
  {% endif %}
  </script>
<script type="text/javascript">
   if ((typeof SCAPPinit) === 'undefined') { SCAPPinit = {initial:false};};
if(typeof SCAPP==="undefined"){SCAPP={version:0,activated:0,created:0};}
SCAPP.popups={};
SCAPP.filter={"home":null,"cart_empty":null,"cart_nonempty":null,"cart_specific":null,"specific":null,"all":null,"open":null,"leave":null};;

</script>