{% include 'sca_freegift_price' with item %}

<!-- /snippets/search-result-grid.liquid -->
{% comment %}

  This snippet gives you a grid layout for each search result.

  It is encouraged to only use this approach for product results,
  as page results don't look great in a grid without a featured image.

  To use this grid layout, change the grid_results variable
  in search.liquid to true.

{% endcomment %}

{% unless grid_width_large %}
  {% assign grid_width_large = 'large--one-quarter' %}
{% endunless %}
{% unless grid_width_medium %}
  {% assign grid_width_medium = 'medium--one-third' %}
{% endunless %}
{% unless grid_width_small %}
  {% assign grid_width_small = 'medium--one-half' %}
{% endunless %}

<div class="grid__item search-result {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}">

  {% if item.featured_image %}

    <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
      {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
    </a>

  {% endif %}

    <p class="h5--body">{{ item.title | link_to: item.url }}</p>

    <p class="h6--body">
      {% if sca_compare_at_price > sca_price %}
        <span class="on-sale money" itemprop="price">
          {{ sca_price | money }}
        </span>
        <small>
          {{ 'products.product.compare_at' | t }}
          <span class="money">{{ sca_compare_at_price_max | money }}</span>
        </small>
      {% else %}
        <span itemprop="price money">
          {{ sca_price | money }}
        </span>
      {% endif %}
    </p>

</div>
