<div id='shappify_bundle' onclick='$("form.bundle-form").unbind("submit")'></div>

<script async src="//bundles.boldapps.net/product_bundle.php?shop={{ shop.permanent_domain }}&product_id={{ product.id }}&_tmp=1576000051"></script>
<!-- the liquid variable "bold_bundles_widget" is no longer required. The line below replaces it. -->
<div class="bold-bundle" data-product-id="{{ product.id }}"></div>