{% assign file_extension = 'png' %}

{% for option in product.options %}
  {% assign downcased_option = option | downcase %}
  {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
    {% assign option_index = forloop.index0 %}
    {% assign values = '' %}
    <div class="variants-preview">

      {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

        {% assign value = variant.options[option_index] | remove: csp_flag_string %}
        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %}
          {% assign values = values | split: ',' %}

          <a href="{{ variant.url | within: collection }}" title="{{ value }}">
            <span {% if variant.featured_image %}data-image="{{ variant.featured_image | product_img_url: '400x' }}"{% endif %} style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }});"></span>
          </a>
        {% endunless %}

{%endunless%}
{%endunless%}
      {% endfor %}

    </div>
  {% endif %}
{% endfor %}
