<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'social-meta-info' %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <!-- Stylesheets for Parallax 3.5.6 -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <script defer="" src="{{ 'app.js' | asset_url }}"></script>

  <!--[if lte IE 8]>
    {{ 'ie.css' | asset_url | stylesheet_tag }}
    <script defer="" src="{{ 'skrollr.ie.js' | asset_url }}"></script>
  <![endif]-->

  {{ content_for_header }}
</head>

<body id="password-page-bg">
  {{ content_for_layout }}
</body>

</html>
