<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
{% include 'hyperspeed-imports' %}

{% render 'hyperspeed-fonts' %}

    <meta name="google-site-verification" content="2UmSpw_DA4qLHTYwWY85vGOlrPuSbVINxJwLA_BXfX8" />
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-59SNBQT');</script>
<!-- End Google Tag Manager -->

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    {% include 'social-meta-info' %}
    

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Stylesheets for Parallax 3.5.6 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />

    <!--[if lte IE 8]>
      {{ 'ie.css' | asset_url | stylesheet_tag }}
    <![endif]-->

    {% include 'ninjacoderz_rich_snippets' %}

{{ content_for_header }}

  {% include 'bold-common' %}


    <noscript>
      <style>.slides>li:first-child{display:block}.image__fallback{width:100vw;display:block!important;max-width:100vw!important;margin-bottom:0}.image__fallback+.hsContainer__image{display:none!important}.hsContainer{height:auto!important}.no-js-only{display:inherit!important}.icon-cart.cart-button{display:none}.cart_page_image img,.lazyload{opacity:1;-webkit-filter:blur(0);filter:blur(0)}.bcg .hsContent{background-color:transparent}.animate_down,.animate_left,.animate_right,.animate_up{opacity:1}.flexslider .slides>li{display:block}.product_section .product_form{opacity:1}.multi_select,form .select{display:block!important}.swatch_options{display:none}</style>
    </noscript>

{{ shop.metafields.loox["global_html_head"] }}
{% comment %}{% include 'sca-quick-view-init' %}{% endcomment %}
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->

{% include 'sca.freegifts' %}

    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

</head>

  {% if template contains "index" %}
    {% assign feature_image = true %}
  {% elsif template contains "collection" %}
    {% assign feature_image = true %}
  {% elsif template contains "blog" %}
    {% assign feature_image = true %}
  {% elsif template contains "article" %}
    {% assign feature_image = true %}
  {% elsif template contains "contact" %}
    {% assign feature_image = true %}
  {% elsif template contains "banner" %}
    {% assign feature_image = true %}
  {% else %}
    {% assign feature_image = false %}
  {% endif %}

<body class="{{ template | replace: '.', '-' | handle }} {% if feature_image %}feature_image{% endif %}" data-money-format="{{ shop.money_format }}">
  <div id="content_wrapper">
    {% section 'header' %}
      <div class="global-wrapper">
        {{ content_for_layout }}
      </div>
      {% include 'cart-shipping-calculator' %}
    {% section 'footer' %}

    <div id="search" class="animated">
      <div class="container">
        <div class="ten columns offset-by-three center">
          <form action="/search">
            {% if settings.search_option != 'everything' %}
              <input type="hidden" name="type" value="product" />
            {% endif %}
            <div class="search-close"><span class="icon-close"></span></div>
            <span class="icon-search search-submit"></span>
            <input type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if settings.size_chart != blank %}
    <div id="size-chart" class="size_chart_content">
      <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
    </div>
  {% endif %}

  {% include 'newsletter-popup' %}
  {% include 'currencies' %}

  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}

  {{ shop.metafields.loox["global_html_body"] }}

  {% comment %}{% include 'sca-quick-view-template' %} {% endcomment %}
  {% include 'special-offers' %}
  
  <!-- Deferred Files Here -->
    <script src="{{ 'app.js' | asset_url  }}" defer></script>

    {% if template contains 'customer' %}
      <script src="{{ "shopify_common.js" | shopify_asset_url }}" defer></script>
      <script src="{{ "customer_area.js"  | shopify_asset_url }}" defer></script>
    {% endif %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'skrollr.ie.js' | asset_url }}" defer></script><!--<![endif]-->

  <!--Gem_Page_Footer_Script-->
   {%comment%} {% include 'gem-app-footer-scripts' %}{% endcomment%}
  <!--End_Gem_Page_Footer_Script-->
{% if customer %} <div id="shopmsg-customer-helper" data-id="{{ customer.id }}" style="display:none;"></div>{% endif %}
<script src="{{ 'jquery-3.4.1.min.js' | asset_url }}"></script>
<script src="{{ 'slick.min.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'lightgallery.min.css' | asset_url }}">
<script src="{{ 'lightgallery.min.js' | asset_url }}"></script>
<script src="{{ 'lg-zoom.min.js' | asset_url }}"></script>
<script src="{{ 'product.js' | asset_url }}"></script>
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

{% include 'swymSnippet' %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe class="lazyload hs-id-7ae7afe1" data-src="https://www.googletagmanager.com/ns.html?id=GTM-59SNBQT" height="0" style="display:none;visibility:hidden" width="0">
</iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
</body>

</html>
