{% if section.settings.image != nil %}
  {% assign feature_image = true %}
{% endif %}

{% if section.settings.image != nil %}
  <div id="slide-blog" class="parallax-banner featured-image--{{ feature_image }} parallax_effect--{{ section.settings.parallax_effect }}">
    <div class="lazyload bcg"
      {% if section.settings.parallax_effect %}
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-blog"
        data-bgset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                      {{ section.settings.image | img_url: '1600x' }} 1600w,
                      {{ section.settings.image | img_url: '1200x' }} 1200w,
                      {{ section.settings.image | img_url: '1000x' }} 1000w,
                      {{ section.settings.image | img_url: '800x' }} 800w,
                      {{ section.settings.image | img_url: '600x' }} 600w,
                      {{ section.settings.image | img_url: '400x' }} 400w"
        data-sizes="100vw"
      {% endif %}
      >
      <div class="hsContainer">
        {% if section.settings.parallax_effect %}
          <noscript>
           {% assign hs_data_src = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ section.settings.image.alt }}" class="image__fallback lazyload hs-lazyload hs-id-2a1dd2b2" data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.image | img_url: '2048x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
          </noscript>
        {% endif %}
        <img  src="{{ section.settings.image | img_url: '300x' }}"
              alt="{% if section.settings.image.alt != blank %}{{ section.settings.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
              data-src="{{ section.settings.image | img_url: '2048x', format: 'pjpg' }}"
              class="lazyload lazyload--fade-in hsContainer__image"
              sizes="100vw"
              srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                        {{ section.settings.image | img_url: '1600x' }} 1600w,
                        {{ section.settings.image | img_url: '1200x' }} 1200w,
                        {{ section.settings.image | img_url: '1000x' }} 1000w,
                        {{ section.settings.image | img_url: '800x' }} 800w,
                        {{ section.settings.image | img_url: '600x' }} 600w,
                        {{ section.settings.image | img_url: '400x' }} 400w"
               />
        <div class="hsContent">
          <div class="container">
            <div class="columns {% if section.settings.text_position == 'left' %} eight offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-eight {% else %} twelve offset-by-two {% endif %} align_{{ section.settings.text_alignment }}">
              {% if current_tags %}
                <h1 class="headline">
                  {{ current_tags }}
                </h1>
              {% else %}
                {% if section.settings.image_blog_headline != blank %}
                  <h1 class="headline">
                    {{ section.settings.image_blog_headline }}
                  </h1>
                {% endif %}
                {% if section.settings.image_blog_subtitle != blank %}
                  <div class="subtitle">
                    {{ section.settings.image_blog_subtitle }}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container main content main-wrapper">
  {% paginate blog.articles by section.settings.blog_posts_per_page %}
    {% unless section.settings.image %}
      <div class="sixteen columns">
        <h1 class="center">
          {% if current_tags %}
            <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{{ blog.title | escape }}">{{ current_tags }}</a>
          {% else %}
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          {% endif %}
        </h1>
        <div class="feature_divider"></div>
      </div>
    {% endunless %}

    <div class="section clearfix">
      <div class="sixteen columns clearfix breadcrumb">
        <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% if section.settings.blog_breadcrumb %}
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            &nbsp;<span class="icon-arrow-right"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a></span>
            {% if current_tags %}
              {% for tag in current_tags %}
                &nbsp;<span class="icon-arrow-right"></span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
              {% endfor %}
            {% endif %}

            {% if paginate.pages != 0 %}
              &nbsp;<span class="icon-arrow-right"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
            {% endif %}
          {% endif %}
        </div>

        {% if section.settings.blog_tags %}
          <div class="four offset-by-four columns section_select omega">
            <select name="tag_filter" id="tag_filter" class="blog_filter">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
              {% for tag in blog.all_tags %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </div>
    </div>

    {% comment %}Check to see if sidebar should be enabled{% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

    <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
      {% for article in blog.articles %}
        {% if section.settings.blog_posts_per_row == 1 %}
          {% if article.image %}
            <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns alpha article_image">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">
                <img  src="{{ article.image | img_url: '300x' }}"
                      alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                      data-src="{{ article.image | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- article.image.width -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                    {{ article.image | img_url: '1600x' }} 1600w,
                                    {{ article.image | img_url: '1200x' }} 1200w,
                                    {{ article.image | img_url: '1000x' }} 1000w,
                                    {{ article.image | img_url: '800x' }} 800w,
                                    {{ article.image | img_url: '600x' }} 600w,
                                    {{ article.image | img_url: '400x' }} 400w"
                       />
              </a>
            </div>
            <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article">
          {% else %}
            <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
          {% endif %}
        {% else %}
          {% if sidebar %}
            <div class="{% if section.settings.blog_posts_per_row == 2 %}six columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
          {% else %}
            <div class="{% if section.settings.blog_posts_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
          {% endif %}

          {% if article.image %}
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              <img  src="{{ article.image | img_url: '300x' }}"
                    alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                    data-src="{{ article.image | img_url: '2048x' }}"
                    class="lazyload lazyload--fade-in"
                    style="max-width: {{- article.image.width -}}px"
                    data-sizes="auto"
                    data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                  {{ article.image | img_url: '1600x' }} 1600w,
                                  {{ article.image | img_url: '1200x' }} 1200w,
                                  {{ article.image | img_url: '1000x' }} 1000w,
                                  {{ article.image | img_url: '800x' }} 800w,
                                  {{ article.image | img_url: '600x' }} 600w,
                                  {{ article.image | img_url: '400x' }} 400w"
                     />
            </a>
          {% endif %}
        {% endif %}

          {% if section.settings.blog_tags %}
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}

          <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>

          <p class="blog_meta">
            {% if section.settings.blog_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if section.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
              {% assign postexcerpt = article.excerpt | size %}
              {% if postexcerpt > 100 %}
                   {% assign excerptlength = 'lg' %}
              {% elsif postexcerpt <= 50 %}
                   {% assign excerptlength = 'sm' %}
              {% endif %}
              <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                {{ article.excerpt }}
                <span class="truncation-fade"></span>
              </div>
          {% endif %}
          {% if section.settings.read_more_link %}
            <p>
              <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-arrow-right"></span></a>
            </p>
          {% endif %}
        </div>

        {% if section.settings.blog_posts_per_row == 2 %}
          {% cycle "article_row": '', '<br class="clear" />' %}
        {% elsif section.settings.blog_posts_per_row == 3 %}
          {% cycle "article_row": '', '', '<br class="clear" />' %}
        {% elsif section.settings.blog_posts_per_row == 4 %}
          {% cycle "article_row": '', '', '', '<br class="clear" />' %}
        {% else %}
          <br class="clear" />
        {% endif %}
      {% endfor %}
    </div>

    {% include "blog-sidebar", blog_handle: blog.handle %}

    <br class="clear" />
    {% include 'pagination' %}
  {% endpaginate %}
</div>

<style>
  {% if section.settings.parallax_effect %}
    #slide-blog .hsContainer {
      height: {{ section.settings.parallax_image_height }}px;
    }
    @media only screen and (max-width: 798px) {
      #slide-blog .hsContainer {
        height: auto;
      }
    }
  {% endif %}

  {% if section.settings.image %}
    div.content {
      padding: 0;
    }
  {% endif %}
</style>

{% schema %}

{
  "name": "Blog",
  "class": "blog-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show blog post tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    },
    {
      "type": "range",
      "id": "blog_posts_per_row",
      "label": "Blog posts per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "blog_posts_per_page",
      "label": "Blog posts per page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "text",
      "id": "image_blog_headline",
      "label": "Heading",
      "default": "My blog"
    },
    {
      "type": "richtext",
      "id": "image_blog_subtitle",
      "label": "Subheading",
      "default": "<p>This is a subheading for your blog page</p>"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Parallax"
    },
    {
      "type": "checkbox",
      "id": "parallax_effect",
      "label": "Enable parallax scrolling",
      "default": true
    },
    {
      "type": "range",
      "id": "parallax_image_height",
      "label": "Parallax section height",
      "min": 300,
      "max": 1000,
      "step": 20,
      "default": 400,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_headline",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_subtitle",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        }
      ]
    },
    {
    "type": "recent_posts",
    "name": "Recent blog posts",
    "limit": 1
    },
    {
    "type": "post_tags",
    "name": "Blog post tags",
    "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}

{% endschema %}
