<div class="footer">
  <div class="container">

    <div class="seven columns">
      {% if section.settings.footer_social_icons %}
        <h6>{{ 'layout.general.social' | t }}</h6>
        <div class="js-social-icons">
          {% include 'social-icons' %}
        </div>
      {% endif %}
      
            {% if section.settings.footer_newsletter %}
		
      
      {% if section.settings.richtext != blank %}
            <!-- QUOIN Remove theme newsletter signup and replace with mailchimp form 2/19/19 -->


          {% comment %} 
          {{ section.settings.richtext }}
     		 {% include 'newsletter' %}
      	   {% endcomment %}
            <!-- Begin Mailchimp Signup Form -->
            <link href="{{ 'local-horizontal-slim-10_7.css' | asset_url }}" rel="stylesheet" type="text/css">
      		<style>
              div#mce-responses, #mce-EMAIL, #mce-success-response {
                padding: 0;
                margin: 0;
              }
              #mce-success-response.class {
               	padding: .4em;
                background: white;
                
              }
            </style>
            <div id="mc_embed_signup">
            <form action="https://handful.us16.list-manage.com/subscribe/post?u=c877ddfad5723e9cd0495694e&amp;id=15fd893dd2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0;margin:0;">
            <div id="mc_embed_signup_scroll">
            <h3 style="color:white;padding-bottom: 0;margin-bottom: 0;" >Subscribe to our mailing list</h2>

                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                  </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none;"></div>
                    <div class="response" id="mce-success-response" style="display:none;"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c877ddfad5723e9cd0495694e_15fd893dd2" tabindex="-1" value="">
                </div>
                <div class="clear" style="overflow:visible;visibility:visible; height:3em;">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
<script src="{{'local-mc-validate.js' | asset_url }}" defer</script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        {% endif %}
        
      
      


      
      {% endif %}
      
      {% if section.settings.footer_content_left != blank %}
        {{ section.settings.footer_content_left }}
      {% endif %}
    </div>

    <div class="nine columns">
      {% if section.settings.footer_linklist_1 != blank %}
        <ul class="footer_menu">
          {% for link in linklists[section.settings.footer_linklist_1].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% for sub_link in link.links %}
              <li>
                <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
              </li>
              {% for sub_sub_link in sub_link.links %}
                <li>
                  <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}




      
      

      {% if section.settings.footer_content_right != blank %}
        {{ section.settings.footer_content_right }}
      {% endif %}

      {{ section.settings.custom_html }}

      <p class="credits">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
        {{ section.settings.copyright_text | escape }}
        {% if section.settings.display_designed_by == true %}
          {{ 'layout.general.designer_credits_html' | t }}
        {% endif %}
        
        
        
        
      </p>



      {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% comment %} QUOIN LinkedIn add 1/24/19 
<script type="text/javascript"> _linkedin_partner_id = "666018"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=666018&fmt=gif" /> </noscript>
{% endcomment %}
{% schema %}
{
  "name": "Footer",
  "class": "footer-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Sign up to get the latest on sales, new releases and more…</p>"
    },
    {
      "type": "checkbox",
      "id": "footer_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "footer_social_icons",
      "label": "Show social media icons",
      "default": true
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "footer_content_left",
      "label": "Left column text"
    },
    {
      "type": "richtext",
      "id": "footer_content_right",
      "label": "Right column text"
    },
    {
      "type": "header",
      "content": "Scripts"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom HTML"
    }
  ]
}
{% endschema %}
