{% assign images_per_row = section.settings.grid-size %}
{% assign mobile_images_per_row = section.settings.mobile-grid-size %}

<div class="gallery-section {% if section.settings.select_layout == false %}container{% endif %}">
  <div class="section clearfix">
    {% if section.settings.select_layout == false %}
      <div class="sixteen columns">
    {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="title center">
          {{ section.settings.title | escape }}
        </h2>
        <div class="feature_divider"></div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="gallery-bar">
          {% for block in section.blocks %}
            <div class="gallery_image {% if images_per_row == 2 %}two-per-row{% elsif images_per_row == 3 %}three-per-row{% else %}four-per-row{% endif %}{% if mobile_images_per_row == true %} mobile-two-per-row{% endif %}" {{ block.shopify_attributes }}>
              {% if block.settings.image != blank %}
                <a href="{{ block.settings.image |  img_url: '2000x' }}" rel="gallery" class="lightbox {% if section.settings.select_layout == 'standard' %}add-padding{% endif %}">
                  <img  src="{{ block.settings.image | img_url: '300x', crop: 'center' }}"
                        class="lazyload lazyload--fade-in"
                        alt="{{ block.settings.image.alt }}"
                        style="max-width: {{- block.settings.image.width -}}px;"
                        data-sizes="auto"
                        data-src="{{ block.settings.image | img_url: '2048x', crop: 'center' }}"
                        data-srcset=" {{ block.settings.image | img_url: '2048x', crop: 'center' }} 2048w,
                                      {{ block.settings.image | img_url: '1600x', crop: 'center' }} 1600w,
                                      {{ block.settings.image | img_url: '1200x', crop: 'center' }} 1200w,
                                      {{ block.settings.image | img_url: '1000x', crop: 'center' }} 1000w,
                                      {{ block.settings.image | img_url: '800x', crop: 'center' }} 800w,
                                      {{ block.settings.image | img_url: '600x', crop: 'center' }} 600w,
                                      {{ block.settings.image | img_url: '400x', crop: 'center' }} 400w"
                        />
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>

            {% if images_per_row == 2 %}
                {% cycle '', '<br class="clear" />' %}
              {% elsif images_per_row == 3 and mobile_images_per_row == false %}
                {% cycle '', '', '<br class="clear" />' %}
              {% elsif images_per_row == 4 %}
                {% cycle '', '', '', '<br class="clear" />' %}
              {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% if section.settings.select_layout == false %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Gallery",
    "class": "image-gallery-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "checkbox",
        "id": "select_layout",
        "label": "Wide display"
      },
      {
        "type": "range",
        "id": "grid-size",
        "label": "Images per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "mobile-grid-size",
        "label": "Show 2 images per row on mobile",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}