<section class="parallax-banner parallax-slide slide hero parallax_effect--{{ section.settings.parallax_effect }}" id="slide-{{ section.id }}">
  <div  class="lazyload bcg {% if section.settings.image == nil %}bcg-placeholder{% endif %}"
      {% if section.settings.parallax_effect %}
        {% if section.settings.image != nil %}
          data-bgset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                        {{ section.settings.image | img_url: '1600x' }} 1600w,
                        {{ section.settings.image | img_url: '1200x' }} 1200w,
                        {{ section.settings.image | img_url: '1000x' }} 1000w,
                        {{ section.settings.image | img_url: '800x' }} 800w"
          data-sizes="100vw"
        {% else %}
          style="background-image:url({{ 'placeholder.svg' | asset_url }})"
        {% endif %}
        data-bottom-top="background-position: 50% 10vh;"
        data-top-bottom="background-position: 50% -10vh;"
      {% endif %}
      >
      <div class="hsContainer">
        {% if section.settings.parallax_effect %}
          <noscript>
           {% assign hs_data_src = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ section.settings.image.alt }}" class="image__fallback lazyload hs-lazyload hs-id-dccc1387" data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.image | img_url: '2048x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
          </noscript>
        {% endif %}
        <img  alt="{{ section.settings.image.alt }}"
              {% if section.settings.image != nil %}
                src="{{ section.settings.image | img_url: '300x' }}"
                data-src="{{ section.settings.image | img_url: '2048x' }}"
                class="lazyload lazyload--fade-in hsContainer__image"
                sizes="100vw"
                srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                          {{ section.settings.image | img_url: '1600x' }} 1600w,
                          {{ section.settings.image | img_url: '1200x' }} 1200w,
                          {{ section.settings.image | img_url: '1000x' }} 1000w,
                          {{ section.settings.image | img_url: '800x' }} 800w,
                          {{ section.settings.image | img_url: '600x' }} 600w,
                          {{ section.settings.image | img_url: '400x' }} 400w"
              {% else %}
                src="{{ 'placeholder.svg' | asset_url }}"
                class="hsContainer__image"
              {% endif %}
               />
        <div class="hsContent" {% if section.settings.text_valignment == 'bottom' %} style="padding-top:15%" {% endif; %}>
          {% if section.settings.link != blank and section.settings.button_label == blank %}
            <a href="{{ section.settings.link }}" class="full-link">
              {{ section.settings.link }}
            </a>
          {% endif %}
          <div class="container">
            <div class="columns {% if section.settings.text_position == 'left' %} eight offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-eight {% else %} twelve offset-by-two {% endif %} align_{{ section.settings.text_alignment }}">
              <div class="{{ section.settings.headline_animation }}">
                {% if section.settings.title != blank %}
                  <h1 class="headline">
                    {{ section.settings.title | escape }}
                  </h1>
                {% endif %}
                {% if section.settings.overlay_image != blank %}
                	{% assign hs_data_src = section.settings.overlay_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img class="lazyload hs-lazyload hs-id-7cf648d4" data-aspectratio="{{ section.settings.overlay_image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.overlay_image | img_url: '800x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="width:100%; max-width:400px"/>
                {% endif %}
                
                {% if section.settings.subtitle != blank %}
                  <div class="subtitle">
                    {{ section.settings.subtitle }}
                  </div>
                {% else %}
                	<p style="line-height:0;margin:0;padding:0;">&nbsp;</p>
                {% endif %}
                
                {% if section.settings.button_label != blank %}
                  <a {% if section.settings.link != blank %}href="{{ section.settings.link }}"{% endif %} class="action_button">
                    {{ section.settings.button_label | escape }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% if section.settings.homepage_arrow %}
            <a href="#slide-{{ section.id }}-content" class="scroll-arrow scroll-animate_down">
              <span class="icon-arrow-down"></span>
            </a>
          {% endif %}
        </div>
      </div>
  </div>
</section>
<a name="slide-{{ section.id }}-content" id="slide-{{ section.id }}-content"></a>

<style>
  {% if section.settings.parallax_effect %}
    #slide-{{ section.id }} .hsContainer {
      height: {{ section.settings.parallax_image_height }}px;
    }
  {% endif %}


  @media only screen and (max-width: 798px) {
    {% if settings.slideshow_images_crop %}
      #slide-{{ section.id }} .hsContainer {
        height: {{ section.settings.parallax_image_height | divided_by: 2 }}px;
        height: 80vh;
        background-size: cover; 
        
        img {
          display:none;
        }
      }
    {% else %}
      #slide-{{ section.id }} .hsContainer {
        height: auto;
        height: 80vh;
        background-size: cover; 
        
        mg {
          display:none;
        }

      }
    {% endif %}
  }

</style>

{% schema %}
{
  "name": "Homepage Hero",
  "class": "image-with-text-overlay-section under-menu",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "select",
      "id": "headline_animation",
      "label": "Heading text animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "animate_in",
          "label": "Fade In"
        },
        {
          "value": "animate_up",
          "label": "Fade Up"
        },
        {
          "value": "animate_down",
          "label": "Fade Down"
        }
      ],
      "default": "animate_down"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your headline here"
    },
	{
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay Image: will appear below Heading and above Text",
      "info": "800px wide recommended"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Text",
      "default": "<p>This is a short subheading for your banner image</p>"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
	{
      "type": "select",
      "id": "text_valignment",
      "label": "Text vertical alignment",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "homepage_arrow",
      "label": "Show scroll down arrow",
      "default": true
    },
    {
      "type": "header",
      "content": "Parallax"
    },
    {
      "type": "checkbox",
      "id": "parallax_effect",
      "label": "Enable parallax scrolling",
      "default": true
    },
    {
      "type": "range",
      "id": "parallax_image_height",
      "label": "Parallax section height",
      "min": 300,
      "max": 1000,
      "step": 20,
      "default": 600,
      "unit": "px"
    }
  ],
  "presets": [{
    "name": "Homepage Hero",
    "category": "Image",
    "settings": {
    }
  }]
}
{% endschema %}


