<!-- /sections/list-collections.liquid -->
{% case section.settings.grid %}
  {% when '1' %}
    {% assign grid_width_large = 'large--one-third push--large--one-third clear' %}
    {% assign grid_width_medium = 'medium--one-half push--medium--one-quarter clear' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when '2' %}
    {% assign grid_width_large = 'large--one-half' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '3' %}
    {% assign grid_width_large = 'large--one-third' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when '4' %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '5' %}
    {% assign grid_width_large = 'large--one-fifth' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '6' %}
    {% assign grid_width_large = 'large--one-sixth' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% else %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
{% endcase %}

{% comment %}{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}{% endcomment %}
{%- assign product_limit = 1000000 -%}

<div data-section-id="{{ section.id }}" data-section-type="list-collections">
  <div class="homepage-image preventOverflow {{ section.settings.text_color }} {{ section.settings.image_height }}"
       id="FeaturedImage-{{ section.id }}"
       {% if section.settings.parallax %}data-img-src="{{ section.settings.image | img_url: '1800x' }}"{% endif %}>
    <div class="content--centered">
      <div class="text-center preventOverflowContent">
        <h1 class="title--flex">from <br>Weekend <br>to Workout</h1>
        <p class="content--flex h4--body">Activewear that multi-tasks as much as you do.</p>
      </div>
    </div>
    <div class="image-overlay {{ section.settings.image_overlay }}"></div>
    {% if section.settings.image_height == 'use_image' %}
      <img src="{{ 'header-all.jpg' | asset_url }}" alt="" class="responsive-wide-image" {% if section.settings.parallax %} style="opacity: 0;"{% endif %}/>
    {% endif %}
    {% if section.settings.parallax == false and section.settings.image_height != 'use_image' %}
      {% comment %}<div class="background-size-cover" style="background-image: url('{{ 'header-all.jpg' | asset_url }}');"></div>{% endcomment %}
      <div class="background-size-cover" style="background-image: url('{{ section.settings.image | img_url: '1800x' }}');"></div>
    {% endif %}
  </div>
</div>
<div class="list-collections">
  <div class="wrapper">

    {% for link in linklists.shop.links %}
      {% assign collection = link.object %}
      {% unless collection.handle == blank %}
        {% unless collection.handle == 'frontpage' %}

          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <div class="collection-list-item">
            <div class="section-header">
              <h3 class="h3 section-header__left title"><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection_title }} &rsaquo;</a></h3>
            </div>
            <div class="grid-uniform{% if settings.image_autoheight_enable %} image_autoheight_enable{% endif %}">
              {% for product in collection.products limit:product_limit %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
                {% if product.tags contains "hiddenproduct" %}{% continue %}{% endif %}
                {% include 'product-grid-item' %}
              {% endfor %}
            </div>
            {% if collection.all_products_count > product_limit %}
              <p><a href="{{ collection.url }}" class="more">See all &rsaquo;</a></p>
            {% endif %}
          </div>

        {% endunless %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "select",
      "id": "grid",
      "label": "Products per row",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows per collection",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    },
    {
      "type": "header",
      "content": "Feature image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "options": [
        { "value": "use_image", "label": "Image height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_screen_one_fifth", "label": "Tiny"}
      ],
      "default": "use_screen_one_third"
    },
    {
      "type": "select",
      "id": "image_overlay",
      "label": "Image overlay opacity",
      "info": "Darkens image for legible text.",
      "default": "image-overlay-20",
      "options": [
        { "value": "image-overlay-0", "label": "0%"},
        { "value": "image-overlay-5", "label": "5%"},
        { "value": "image-overlay-10", "label": "10%"},
        { "value": "image-overlay-15", "label": "15%"},
        { "value": "image-overlay-20", "label": "20%"},
        { "value": "image-overlay-25", "label": "25%"},
        { "value": "image-overlay-30", "label": "30%"},
        { "value": "image-overlay-35", "label": "35%"},
        { "value": "image-overlay-40", "label": "40%"},
        { "value": "image-overlay-45", "label": "45%"},
        { "value": "image-overlay-50", "label": "50%"},
        { "value": "image-overlay-55", "label": "55%"},
        { "value": "image-overlay-60", "label": "60%"},
        { "value": "image-overlay-65", "label": "65%"},
        { "value": "image-overlay-70", "label": "70%"},
        { "value": "image-overlay-75", "label": "75%"},
        { "value": "image-overlay-80", "label": "80%"},
        { "value": "image-overlay-85", "label": "85%"},
        { "value": "image-overlay-90", "label": "90%"},
        { "value": "image-overlay-95", "label": "95%"},
        { "value": "image-overlay-100","label": "100%"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "default": "homepage--white",
      "label": "Text color",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": false,
      "label": "Enable parallax scroll"
    }

  ]
}
{% endschema %}
