{% if section.settings.image %}
  {% assign feature_image = true %}
  <div id="slide-collection" class="parallax-banner featured-image--{{ feature_image }} parallax_effect--{{ section.settings.parallax_effect }}">
    <div class="lazyload bcg"
      {% if section.settings.parallax_effect %}
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection"
        data-bgset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                      {{ section.settings.image | img_url: '1600x' }} 1600w,
                      {{ section.settings.image | img_url: '1200x' }} 1200w,
                      {{ section.settings.image | img_url: '1000x' }} 1000w,
                      {{ section.settings.image | img_url: '800x' }} 800w,
                      {{ section.settings.image | img_url: '600x' }} 600w,
                      {{ section.settings.image | img_url: '400x' }} 400w"
        data-sizes="100vw"
      {% endif %}
        >
        <div class="hsContainer">
          {% if section.settings.parallax_effect %}
            <noscript>
             {% assign hs_data_src = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ section.settings.image.alt }}" class="image__fallback lazyload hs-lazyload hs-id-c0e7d405" data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.image | img_url: '2048x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            </noscript>
          {% endif %}
          <img  src="{{ section.settings.image | img_url: '300x' }}"
                alt="{{ section.settings.image.alt }}"
                data-src="{{ section.settings.image | img_url: '2048x' }}"
                class="lazyload lazyload--fade-in hsContainer__image"
                sizes="100vw"
                srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                          {{ section.settings.image | img_url: '1600x' }} 1600w,
                          {{ section.settings.image | img_url: '1200x' }} 1200w,
                          {{ section.settings.image | img_url: '1000x' }} 1000w,
                          {{ section.settings.image | img_url: '800x' }} 800w,
                          {{ section.settings.image | img_url: '600x' }} 600w,
                          {{ section.settings.image | img_url: '400x' }} 400w"
                 />
          <div class="hsContent">
            <div class="container">
              <div class="columns {% if section.settings.text_position == 'left' %} eight offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-eight {% else %} twelve offset-by-two {% endif %} align_{{ section.settings.text_alignment }}">
                {% if section.settings.display_collection_header_title %}
                  <h1 class="headline">
                    {{ 'collections.general.title' | t }}
                  </h1>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endif %}

<div class="container main content main-wrapper">
  {% paginate collections by section.settings.pagination_limit %}
    {% assign collections_per_row = section.settings.collections_per_row %}

    {% if section.settings.display_collection_header_title and feature_image == blank %}
      <div class="sixteen columns">
        <h1 class="center">{{ 'collections.general.title' | t }}</h1>
        <div class="feature_divider"></div>
      </div>
    {% endif %}

    <div class="section clearfix">
      <div class="sixteen columns breadcrumb">
        <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% if section.settings.collection_breadcrumb %}
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            &nbsp;<span class="icon-arrow-right"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections" title="{{ 'collections.general.title' | t }}" itemprop="item"><span itemprop="name">{{ 'collections.general.title' | t }}</span></a></span>
            {% if paginate.pages != 0 %}
              &nbsp;<span class="icon-arrow-right"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    {% capture new_row %}
        <br class="clear product_clear" />
    {% endcapture %}

    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

        {% if settings.align_height %}
          {% if collection.image %}
            {% assign collection_image = collection.image %}
          {% else %}
            {% assign collection_image = collection.products.first.featured_image %}
          {% endif %}

          {% assign collection_height = settings.collection_height | plus: 0 %}
          {% assign product_aspect_ratio = collection_image.aspect_ratio | plus: 0 %}
          {% assign product_set_width = product_aspect_ratio | times: collection_height %}

          {% if product.featured_image.width >= product.featured_image.height %}
            {% assign align_height_value = 'width: 100%; height: auto;' %}
          {% else %}
            {% assign align_height_value = 'width: 100%;' %}
          {% endif %}
        {% endif %}

        <div class="{% if collections_per_row == 2 %}eight columns{% elsif collections_per_row == 3 %}one-third column{% else %}four columns{% endif %} thumbnail {% cycle 'even', 'odd' %}">
          <div class="relative product_image">
            <div class="product_container">
              <a href="{{ collection.url }}" title="{{ collection_title }}">
                <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {%- if collection.image -%}{{- collection.image.width -}}{%- else -%}{{- collection.products.first.featured_image.width -}}{%- endif -%}px; {% endif %}">
                  {% if collection.image %}
                    <img  src="{{ collection.image.src | img_url: '300x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{{ collection.image.alt | escape }}"
                          style="max-width: {{- collection.image.width -}}px;"
                          data-sizes="auto"
                          data-src="{{ collection.image.src | img_url: '1160x' }}"
                          data-srcset=" {{ collection.image.src | img_url: '2048x' }} 2048w,
                                        {{ collection.image.src | img_url: '1600x' }} 1600w,
                                        {{ collection.image.src | img_url: '1200x' }} 1200w,
                                        {{ collection.image.src | img_url: '1000x' }} 1000w,
                                        {{ collection.image.src | img_url: '800x' }} 800w,
                                        {{ collection.image.src | img_url: '600x' }} 600w,
                                        {{ collection.image.src | img_url: '400x' }} 400w"
                          />
                  {% else %}
                    <img  src="{{ collection.products.first.featured_image | img_url: '300x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{{ collection.image.alt | escape }}"
                          style="max-width: {{- collection.image.width -}}px;"
                          data-sizes="auto"
                          data-src="{{ collection.products.first.featured_image | img_url: '1160x' }}"
                          data-srcset=" {{ collection.products.first.featured_image | img_url: '2048x' }} 2048w,
                                        {{ collection.products.first.featured_image | img_url: '1600x' }} 1600w,
                                        {{ collection.products.first.featured_image | img_url: '1200x' }} 1200w,
                                        {{ collection.products.first.featured_image | img_url: '1000x' }} 1000w,
                                        {{ collection.products.first.featured_image | img_url: '800x' }} 800w,
                                        {{ collection.products.first.featured_image | img_url: '600x' }} 600w,
                                        {{ collection.products.first.featured_image | img_url: '400x' }} 400w"
                          />
                  {% endif %}
                </div>
                <div class="info">
                  <span class="title">{{ collection.title }}</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        {% if collections_per_row == 2 %}
          {% cycle '', new_row %}
        {% elsif collections_per_row == 3 %}
          {% cycle '', '', new_row %}
        {% elsif collections_per_row == 4 %}
          {% cycle '', '', '', new_row %}
        {% endif %}
      {% endunless %}
    {% endfor %}

    {% include 'pagination' %}
  {% endpaginate %}
</div>

<style>
  {% if section.settings.parallax_effect %}
    #slide-collection .hsContainer {
      height: {{ section.settings.parallax_image_height }}px;
    }
    @media only screen and (max-width: 798px) {
      #slide-collection .hsContainer {
        height: auto;
      }
    }
  {% endif %}

</style>

{% schema %}

{
  "name": "Collections",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Collections per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "checkbox",
      "id": "display_collection_header_title",
      "label": "Show page title"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "header",
      "content": "Collections banner image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Parallax"
    },
    {
      "type": "checkbox",
      "id": "parallax_effect",
      "label": "Enable parallax scrolling",
      "default": true
    },
    {
      "type": "range",
      "id": "parallax_image_height",
      "label": "Parallax section height",
      "min": 300,
      "max": 1000,
      "step": 20,
      "default": 400,
      "unit": "px"
    }
  ]
}

{% endschema %}