{% if section.settings.show_first_name %}
  {% if section.settings.show_last_name %}
    {% assign displayMode = 'nl--one-whole' %}
  {% else %}
    {% assign displayMode = 'nl--one-half' %}
  {% endif %}
{% else %}
  {% if section.settings.show_last_name %}
    {% assign displayMode = 'nl--one-half' %}
  {% else %}
    {% assign displayMode = '' %}
  {% endif %}
{% endif %}

<div class="homepage_content clearfix">
  <div class="container">
    <div class="sixteen columns text-align--{{ section.settings.frontpage_text_align }}">
      <div {% unless section.settings.wide_display %}class="content_padding"{% endunless %}>
        {% if section.settings.title != blank %}
          <h2 class="title align_{{ section.settings.frontpage_text_align }}">
            {{ section.settings.title | escape }}
          </h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p>{{ section.settings.subheading | escape }}</p>
        {% endif %}
        {% if section.settings.newsletter_richtext != blank %}
          <div class="newsletter-text">{{ section.settings.newsletter_richtext }}</div>
        {% endif %}

        <div class="newsletter newsletter--{{ section.settings.frontpage_text_align }}">
          <!-- Begin Mailchimp Signup Form -->
<link href="{{ 'local-horizontal-slim-10_7.css' | asset_url }}" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://handful.us16.list-manage.com/subscribe/post?u=c877ddfad5723e9cd0495694e&amp;id=15fd893dd2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="margin:margin: 0em 0 3em;" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c877ddfad5723e9cd0495694e_15fd893dd2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
        </div>


      </div>
    </div>
  </div>
</div>

<style>
.newsletter-section .homepage_content {
  color: {{ section.settings.newsletter_text }};
  background-color: {{ section.settings.newsletter_background }};
}
.newsletter-section h2 {
  color: {{ section.settings.newsletter_text }};
}

@media only screen and (max-width: 798px) {
  .newsletter-section {
    background-color: {{ section.settings.newsletter_background }};
  }
}

{% unless section.settings.wide_display %}
  .newsletter-section .homepage_content {
    background-color: transparent;
    padding: 0;
  }
  .newsletter-section .container .columns {
    padding: 40px 0;
  }
  .newsletter-section .homepage_content div.container .columns {
    background-color: {{ section.settings.newsletter_background }};
  }
{% endunless %}
</style>

{% schema %}
{
  "name": "Mailchimp Newsletter",
  "class": "newsletter-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Sign up to get the latest on sales, new releases and more …"
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "wide_display",
      "default": true,
      "label": "Wide display"
    },
    {
      "type": "checkbox",
      "id": "show_first_name",
      "label": "Show first name"
    },
    {
      "type": "checkbox",
      "id": "show_last_name",
      "label": "Show last name"
    },
    {
      "type": "color",
      "id": "newsletter_background",
      "label": "Background",
      "default": "#ede9dd"
    },
    {
      "type": "color",
      "id": "newsletter_text",
      "label": "Text",
      "default": "#303030"
    }
  ],
  "presets": [{
    "name": "Newsletter",
    "category": "Promotional",
    "settings": {
    }
  }]
}
{% endschema %}

