{% if section.settings.image != nil %}
  {% assign feature_image = true %}
{% endif %}

{% if section.settings.image != nil %}
  <div id="slide-banner" class="parallax-banner featured-image--{{ feature_image }} parallax_effect--{{ section.settings.parallax_effect }}">
    <div class="lazyload bcg"
      {% if section.settings.parallax_effect %}
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-banner"
        data-bgset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                      {{ section.settings.image | img_url: '1600x' }} 1600w,
                      {{ section.settings.image | img_url: '1200x' }} 1200w,
                      {{ section.settings.image | img_url: '1000x' }} 1000w,
                      {{ section.settings.image | img_url: '800x' }} 800w,
                      {{ section.settings.image | img_url: '600x' }} 600w,
                      {{ section.settings.image | img_url: '400x' }} 400w"
        data-sizes="100vw"
      {% endif %}
        >
        <div class="hsContainer">
          {% if section.settings.parallax_effect %}
            <noscript>
             {% assign hs_data_src = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img alt="{{ section.settings.image.alt }}" class="image__fallback lazyload hs-lazyload hs-id-2defcbd2" data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.image | img_url: '2048x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            </noscript>
          {% endif %}
          <img  src="{{ section.settings.image | img_url: '300x' }}"
                alt="{{ section.settings.image.alt }}"
                data-src="{{ section.settings.image | img_url: '2048x' }}"
                class="lazyload lazyload--fade-in hsContainer__image"
                sizes="100vw"
                srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                          {{ section.settings.image | img_url: '1600x' }} 1600w,
                          {{ section.settings.image | img_url: '1200x' }} 1200w,
                          {{ section.settings.image | img_url: '1000x' }} 1000w,
                          {{ section.settings.image | img_url: '800x' }} 800w,
                          {{ section.settings.image | img_url: '600x' }} 600w,
                          {{ section.settings.image | img_url: '400x' }} 400w"
                 />
        <div class="hsContent">
          {% if section.settings.link != blank and section.settings.button_label == blank %}
            <a href="{{ section.settings.link }}" class="full-link">
              {{ section.settings.link }}
            </a>
          {% endif %}
          <div class="container">
            <div class="columns {% if section.settings.text_position == 'left' %} eight offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-eight {% else %} twelve offset-by-two {% endif %} align_{{ section.settings.text_alignment }}">
              <div class="{{ section.settings.headline_animation }}">
                {% if section.settings.title != blank %}
                  <h1 class="headline">
                    {{ section.settings.title | escape }}
                  </h1>
                {% else %}
                  <h1 class="headline">
                    {{ page.title }}
                  </h1>
                {% endif %}
                {% if section.settings.subtitle != blank %}
                  <div class="subtitle">
                    {{ section.settings.subtitle }}
                  </div>
                {% endif %}
                {% if section.settings.button_label != blank %}
                  <a {% if section.settings.link != blank %}href="{{ section.settings.link }}"{% endif %} class="action_button">
                    {{ section.settings.button_label | escape }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container main content main-wrapper">
  {% unless section.settings.image != nil %}
  <div class="sixteen columns">
      <h1 class="center">{{ page.title }}</h1>
      <div class="feature_divider"></div>
  </div>
  {% endunless %}

  <div class="sixteen columns page">
    {{ page.content }}
  </div>
</div>

<style>
  {% if section.settings.parallax_effect %}
    #slide-banner .hsContainer {
      height: {{ section.settings.parallax_image_height }}px;
    }
    @media only screen and (max-width: 798px) {
      #slide-banner .hsContainer {
        height: auto;
      }
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Banner",
  "class": "banner-template-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Parallax"
    },
    {
      "type": "checkbox",
      "id": "parallax_effect",
      "label": "Enable parallax scrolling",
      "default": true
    },
    {
      "type": "range",
      "id": "parallax_image_height",
      "label": "Parallax section height",
      "min": 300,
      "max": 1000,
      "step": 20,
      "default": 400,
      "unit": "px"
    }
  ]
}
{% endschema %}
