<!-- based on product-details.liquid, leverages .product-details styles -->
<div class="product-details image-gallery">
  {% for block in section.blocks %}
    {% if block.type == 'rich_text_and_image' %}
      <div class="container">
        <div class="twelve columns offset-by-two center featured-content-section block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          {% if block.settings.image %}
            <img  src="{{ block.settings.image | img_url: '300x' }}"
                  alt="{{ block.settings.image.alt }}"
                  data-src="{{ block.settings.image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in"
                  style="max-width: {{- block.settings.image -}}px"
                  data-sizes="auto"
                  data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                {{ block.settings.image | img_url: '1600x' }} 1600w,
                                {{ block.settings.image | img_url: '1200x' }} 1200w,
                                {{ block.settings.image | img_url: '1000x' }} 1000w,
                                {{ block.settings.image | img_url: '800x' }} 800w,
                                {{ block.settings.image | img_url: '600x' }} 600w,
                                {{ block.settings.image | img_url: '400x' }} 400w"
                   />
          {% endif %}
          {% if block.settings.title != blank %}
            <h2 class="{{ block.settings.text_alignment }}" style="font-size:{{ block.settings.font_size }}%;">{{ block.settings.title | escape }}</h2>
            <div class="feature_divider {% if block.settings.text_alignment == "align_left" %}feature_divider_left{% endif %}"></div>
          {% endif %}
          <div class="{{ block.settings.text_size }} {{ block.settings.text_alignment }}">
            {% if block.settings.content != blank %}
              {{ block.settings.content }}
            {% endif %}
            {% if block.settings.button_label != blank %}
              <a {% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}" {% endif %} class="action_button block_button">
                {{ block.settings.button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
	  	{% elsif block.type == 'single_image' %}
        <div class="container bleed">
          <div class="sixteen columns center featured-content-section block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}" >
              {% if block.settings.image %}
                <img  src="{{ block.settings.image | img_url: '1800x' }}"
                      alt="{{ block.settings.image.alt }}"
                      data-src="{{ block.settings.image | img_url: '1800x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.image -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                    {{ block.settings.image | img_url: '1600x' }} 1600w,
                                    {{ block.settings.image | img_url: '1200x' }} 1200w,
                                    {{ block.settings.image | img_url: '1000x' }} 1000w,
                                    {{ block.settings.image | img_url: '800x' }} 800w,
                                    {{ block.settings.image | img_url: '600x' }} 600w,
                                    {{ block.settings.image | img_url: '400x' }} 400w"
                       />
              {% endif %}
          </div>
        </div>
    {% elsif block.type == 'image_gallery' %}
      <div class="container">
        <div class="sixteen columns block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          <div class="one-third column alpha">
            {% if block.settings.product_detail_image_1 %}
              <a href="{{ block.settings.product_detail_image_1 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_1 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_1.alt }}"
                      data-src="{{ block.settings.product_detail_image_1 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_1 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_1 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_1 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_1 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '400x' }} 400w"
                       />
              </a>
            
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
          </div>
          <div class="one-third column">
            {% if block.settings.product_detail_image_2 %}
              <a href="{{ block.settings.product_detail_image_2 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_2 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_2.alt }}"
                      data-src="{{ block.settings.product_detail_image_2 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_2 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_2 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_2 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_2 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
          </div>
          <div class="one-third column omega">
            {% if block.settings.product_detail_image_3 %}
              <a href="{{ block.settings.product_detail_image_3 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_3 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_3.alt }}"
                      data-src="{{ block.settings.product_detail_image_3 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_3 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_3 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_3 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_3 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
          </div>
        </div>
      </div>
    {% elsif block.type == 'image_gallery_six' %}
      <div class="container">
        <div class="sixteen columns block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          <div class="one-third column ">
            {% if block.settings.product_detail_image_1 %}
              <a href="{{ block.settings.product_detail_image_1 | img_url: '5760x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_1 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_1.alt }}"
                      data-src="{{ block.settings.product_detail_image_1 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_1 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_1 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_1 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_1 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '400x' }} 400w"
                       />
              </a>
            
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
          </div>
          <div class="one-third column">
            {% if block.settings.product_detail_image_2 %}
              <a href="{{ block.settings.product_detail_image_2 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_2 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_2.alt }}"
                      data-src="{{ block.settings.product_detail_image_2 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_2 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_2 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_2 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_2 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
          </div>
          <div class="one-third column ">
            {% if block.settings.product_detail_image_3 %}
              <a href="{{ block.settings.product_detail_image_3 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_3 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_3.alt }}"
                      data-src="{{ block.settings.product_detail_image_3 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_3 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_3 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_3 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_3 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_4 %}
              <a href="{{ block.settings.product_detail_image_4 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_4 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_4.alt }}"
                      data-src="{{ block.settings.product_detail_image_4 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_4 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_4 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_4 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_4 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_4 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_5 %}
              <a href="{{ block.settings.product_detail_image_5 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_5 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_5.alt }}"
                      data-src="{{ block.settings.product_detail_image_5 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_5 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_5 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_5 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_5 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_5 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_6 %}
              <a href="{{ block.settings.product_detail_image_6 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_6 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_6.alt }}"
                      data-src="{{ block.settings.product_detail_image_6 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_6 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_6 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_6 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_6 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_6 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
            	<img src="https://cdn.shopify.com/s/files/1/1243/2440/files/Handful-BENEFITIcon-Spacer.png?129378">
            {% endif %}
            
          </div>
        </div>
      </div>
  
    {% elsif block.type == 'image_with_text' %}
      {% include 'include-image-text', type: 'block' %}

    {% elsif block.type == 'divider' %}
      {% include 'include-divider', type: 'block' %}
    {% endif %}

  {% endfor %}
</div>

{% if section.settings.related_products_position == "below" and section.settings.display_related_products %}
  <div class="container">
    {% capture limit %}{{ section.settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
        {% if collections[related_collection_handle].all_products_count > 0 %}
          {% assign col = related_collection_handle %}
          {% assign collection = collections[col] %}
          {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if col and collections[col].all_products_count > 0 %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign skip_product = product %}
        {% assign products = collections[col].products %}
        {% assign products_per_row = section.settings.products_per_row %}
        {% include 'product-loop' %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}



<style>
  {% if section.settings.set_product_height %}
    .product_slider .slides img { max-width: {{ section.settings.product_height }}px; }
  {% endif %}
</style>


{% schema %}
{
  "name": "Product",
  "class": "product-template-section",
  "max_blocks": 200,
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product images"
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product image height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "radio",
      "id": "related_products_position",
      "label": "Position",
      "options": [
        {
          "value": "above",
          "label": "Above content"
        },
        {
          "value": "below",
          "label": "Below content"
        }
      ],
      "default": "below"
    },
	{
	"type": "text",
          "id": "product_subtitle",
          "label": "Product Subtitle",
          "default": "Enter the product subtitle content info here"
    }
  ],
  "blocks": [
	{
		"type": "accordion",
		"name": "Accordion Drawer",
		"settings": [
          	{
              "type": "text",
              "id": "accordion_title",
              "label": "Accordion Title",
              "default": "This is an example headline"
           	},
            {
              "type": "richtext",
              "id": "accordion_content",
              "label": "Accordion Content",
"default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>"
           	}
          ]
	},
    {
      "type": "rich_text_and_image",
      "name": "Rich text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo",
          "info": "600 x 600px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "This is an example headline"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Title Font Size in Percent",
          "min": 70,
          "max": 230,
          "step": 10,
          "default": 150
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
		
      ]
    },
	{

    "type": "single_image",
      "name": "Single Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px recommended"
        }
		]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery - three",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_detail_image_1",
          "label": "Image 1",
          "info": "Full Resolution Image"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_2",
          "label": "Image 2",
          "info": "Full Resolution Image"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_3",
          "label": "Image 3",
          "info": "Full Resolution Image"
        }
      ]
    },
    {
          "type": "image_gallery_six",
          "name": "Image gallery - six",
          "settings": [
            {
              "type": "image_picker",
              "id": "product_detail_image_1",
              "label": "Image 1",
              "info": "Full Resolution Image"
			  
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_2",
              "label": "Image 2",
              "info": "Full Resolution Image"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_3",
              "label": "Image 3",
              "info": "Full Resolution Image"
            },
{
              "type": "image_picker",
              "id": "product_detail_image_4",
              "label": "Image 1",
              "info": "Full Resolution Image"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_5",
              "label": "Image 2",
              "info": "Full Resolution Image"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_6",
              "label": "Image 3",
              "info": "Full Resolution Image"
            }
          ]
        },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 1000px recommended"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>"
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add spacing in between your sections by using a divider."
        },
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Spacing",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "This is an example headline",
          "content": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>",
          "text_alignment": "center",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery_six",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}
