<div class="container main content main-wrapper" id="product-details">
  <div class="sixteen columns">
    <div class="clearfix breadcrumb">
      <div class="nav_arrows">
        {% if collection.previous_product %}
          <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev"><span class="icon-circle-left"></span></a>
        {% endif %}

        {% if collection.next_product %}
          <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next"><span class="icon-circle-right"></span></a>
        {% endif %}
      </div>
      {% include "product-breadcrumb" %}
    </div>
  </div>  

  <div class="sixteen columns">
    <div class="product-{{ product.id }}">
     <div class="section product_section clearfix
     {% if product.images.size > 1 %} thumbnail_position--{{settings.thumbnail_position}} {% endif %} product_slideshow_animation--{{settings.product_slideshow_animation}}"
         data-thumbnail="{{settings.thumbnail_position}}"
         data-slideshow-animation="{{settings.product_slideshow_animation}}"
         data-slideshow-speed="{{settings.slideshow_speed}}">

      <div class="nine columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if section.settings.product_images_position == 'right' %}mobile_only{% endif %}">
        {% include 'product-images' %}
      </div>

      <div class="seven columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

        {% assign collection_handles = product.collections | map: 'handle' %}
        {% assign variant = product.selected_or_first_available_variant %}

        <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

        
        {% if section.settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% if variant.sku != blank and section.settings.display_sku %}
          <p class="sku">
            <span itemprop="sku">{{ variant.sku }}</span>
          </p>
        {% endif %}

        {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

<!-- Pricing -->
        {% unless collection_handles contains 'coming-soon' %}
        {% comment %}
          <p class="modal_price">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>

            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ bold_variant_price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > bold_variant_price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if bold_variant_price > 0 %}
                  <span class="money">{{ bold_variant_price | money }}</span> 
                {% else %} 
                  {{ settings.free_price_text }}
                {% endif %}
					<span class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></span>
              </span>
            </span>
            <span class="was_price">
              {% if bold_variant_price < variant.compare_at_price and variant.available %}
                <span class="money">{{ variant.compare_at_price | money }}</span>
              {% endif %}
            </span>
          </p>
        {% endcomment %}
        
        
        <!-- Notify me/Back In Stock -->
         {% comment %}
         {% if settings.notify_me_form %}
            {% include 'product-notify-me' %}
          {% endif %}
        
          {% if product.available == false or variant.available == false %}
            <!-- <div class="yv-backorders-form"></div> -->
          {% endif %}
         {% endcomment %}
        
        {% endunless %}

        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form' with 'product' %}
        {% endunless %}
        
<!-- Product Description Below Button Option -->
        {% if section.settings.product_description_position == "bottom" %}
          {% if product.description != blank %}
           <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
           </div>
          {% endif %}
        {% endif %}
<!-- 		Parallax Reviews -->
        {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        {% endif %}

        {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
         <hr />
        {% endif %}


<!--       Product Subtitle -->
        
        {% unless section.settings.product_subtitle == blank %}
          <h2 class="center">
              {{ section.settings.product_subtitle }}
          </h2>
        <div class="feature_divider"></div>
          {% endunless %}
        
        {% unless section.settings.icons_image == blank %} 
        	{% assign hs_data_src = section.settings.icons_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}<img class="lazyload hs-lazyload hs-id-cfbde4fe" data-aspectratio="{{ section.settings.icons_image.aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="[50,90,180,360,480,720,900,1080,1296,1512]" src="{{ section.settings.icons_image | img_url: '700x' }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        {% endunless %}
<!--         Product Description -->
        <div class="description" itemprop="description">
             {{ product.description | split: '<!-- split -->' | first }}
           </div>
        
        
<!--    Accordions -->      
        <div class="accordion_block">
          <dl class="accordion">

             {% for block in section.blocks %}

                {% if block.type == 'accordion' %}
                    <dt {% if block.settings.pink-it %}class="pink-it"{% endif %}><a href="#"><small class="right">&#8744;</small>{{ block.settings.accordion_title }}</a></dt>
                    <dd>{{ block.settings.accordion_content }}</dd>
                {% endif %}

            {% endfor %}
            </dl>
        </div>
        
        
        <div class="meta">
          {% if section.settings.display_social_buttons %}
            {% include "social-buttons" with "product" %}
          {% endif %}

          {% if section.settings.display_collections %}
            <p>
              <span class="label">{{ 'products.product.collections' | t }}:</span>
              <span>
               {% for col in product.collections %}
                 <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
               {% endfor %}
             </span>
           </p>
          {% endif %}

          {% if section.settings.display_tags %}
             <p>
               {% for tag in product.tags %}
                 {% if forloop.first %}
                   <span class="label">{{ 'products.product.tags' | t }}:</span>
                 {% endif %}

                 {% unless tag contains 'meta-' %}
                   <span>
                     <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                   </span>
                 {% endunless %}
               {% endfor %}
             </p>
          {% endif %}

         {% if section.settings.display_type %}
            <p>
              <span class="label">{{ 'products.product.product_types' | t }}:</span>
              <span>{{ product.type | link_to_type }}</span>
            </p>
         {% endif %}
        </div>
      </div>

      {% if section.settings.product_images_position == 'right' %}
        <div class="nine columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">
          {% include 'product-images' %}
        </div>
      {% endif %}
    </div>

    {% if product.description contains "<!-- split -->"  %}
      <br class="clear" />
      <div class="section clearfix">
        <div class="description">
          {{ product.description | split: '<!-- split -->' | last }}
        </div>
      </div>
    {% endif %}

    {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    {% endif %}
    </div>

    

  </div>
</div>
<div class="product-details">
  {% for block in section.blocks %}
    {% if block.type == 'rich_text_and_image' %}
      <div class="container"  id="block-number-{{ block.id }}">
        <div class="twelve columns offset-by-two center featured-content-section block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          {% if block.settings.image %}
            <img  src="{{ block.settings.image | img_url: '300x' }}"
                  alt="{{ block.settings.image.alt }}"
                  data-src="{{ block.settings.image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in"
                  style="max-width: {{- block.settings.image -}}px"
                  data-sizes="auto"
                  data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                {{ block.settings.image | img_url: '1600x' }} 1600w,
                                {{ block.settings.image | img_url: '1200x' }} 1200w,
                                {{ block.settings.image | img_url: '1000x' }} 1000w,
                                {{ block.settings.image | img_url: '800x' }} 800w,
                                {{ block.settings.image | img_url: '600x' }} 600w,
                                {{ block.settings.image | img_url: '400x' }} 400w"
                   />
          {% endif %}
          {% if block.settings.title != blank %}
            <h2 class="{{ block.settings.text_alignment }}" >{{ block.settings.title | escape }}</h2>
            <div class="feature_divider {% if block.settings.text_alignment == "align_left" %}feature_divider_left{% endif %}"></div>
          {% endif %}
          <div class="{{ block.settings.text_size }} {{ block.settings.text_alignment }}">
            {% if block.settings.content != blank %}
              {{ block.settings.content }}
            {% endif %}
            {% if block.settings.button_label != blank %}
              <a {% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}" {% endif %} class="action_button block_button">
                {{ block.settings.button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
	  	{% elsif block.type == 'single_image' %}
        <div class="container bleed">
          <div class="sixteen columns center featured-content-section block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}" >
              {% if block.settings.image %}
                <img  src="{{ block.settings.image | img_url: '1800x' }}"
                      alt="{{ block.settings.image.alt }}"
                      data-src="{{ block.settings.image | img_url: '1800x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.image -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                    {{ block.settings.image | img_url: '1600x' }} 1600w,
                                    {{ block.settings.image | img_url: '1200x' }} 1200w,
                                    {{ block.settings.image | img_url: '1000x' }} 1000w,
                                    {{ block.settings.image | img_url: '800x' }} 800w,
                                    {{ block.settings.image | img_url: '600x' }} 600w,
                                    {{ block.settings.image | img_url: '400x' }} 400w"
                       />
              {% endif %}
          </div>
        </div>
    {% elsif block.type == 'image_gallery' %}
      <div class="container" >
        <div class="sixteen columns block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          <div class="one-third column alpha">
            {% if block.settings.product_detail_image_1 %}
              <a href="{{ block.settings.product_detail_image_1 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_1 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_1.alt }}"
                      data-src="{{ block.settings.product_detail_image_1 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_1 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_1 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_1 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_1 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '400x' }} 400w"
                       />
              </a>
            
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="one-third column">
            {% if block.settings.product_detail_image_2 %}
              <a href="{{ block.settings.product_detail_image_2 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_2 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_2.alt }}"
                      data-src="{{ block.settings.product_detail_image_2 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_2 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_2 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_2 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_2 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="one-third column omega">
            {% if block.settings.product_detail_image_3 %}
              <a href="{{ block.settings.product_detail_image_3 | img_url: '1520x' }}" class="lightbox" rel="gallery">
                <img  src="{{ block.settings.product_detail_image_3 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_3.alt }}"
                      data-src="{{ block.settings.product_detail_image_3 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_3 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_3 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_3 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_3 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '400x' }} 400w"
                       />
              </a>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
    {% elsif block.type == 'image_gallery_six' %}
      <div class="container" >
        <div class="sixteen columns block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
          <div class="one-third column ">
            {% if block.settings.product_detail_image_1 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_1 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_1 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_1.alt }}"
                      data-src="{{ block.settings.product_detail_image_1 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_1 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_1 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_1 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_1 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_1 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_1 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="one-third column">
            {% if block.settings.product_detail_image_2 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_2 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_2 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_2.alt }}"
                      data-src="{{ block.settings.product_detail_image_2 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_2 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_2 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_2 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_2 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_2 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_2 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="one-third column ">
            {% if block.settings.product_detail_image_3 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_3 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_3 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_3.alt }}"
                      data-src="{{ block.settings.product_detail_image_3 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_3 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_3 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_3 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_3 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_3 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_3 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_4 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_4 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_4 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_4.alt }}"
                      data-src="{{ block.settings.product_detail_image_4 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_4 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_4 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_4 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_4 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_4 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_4 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_5 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_5 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_5 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_5.alt }}"
                      data-src="{{ block.settings.product_detail_image_5 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_5 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_5 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_5 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_5 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_5 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_5 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            
          </div>
                    <div class="one-third column ">
            {% if block.settings.product_detail_image_6 %}
            	{% if block.settings.enlarge %}<a href="{{ block.settings.product_detail_image_6 | img_url: '1520x' }}" class="lightbox" rel="gallery_six">{% endif %}
                <img  src="{{ block.settings.product_detail_image_6 | img_url: '300x' }}"
                      alt="{{ block.settings.product_detail_image_6.alt }}"
                      data-src="{{ block.settings.product_detail_image_6 | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- block.settings.product_detail_image_6 -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ block.settings.product_detail_image_6 | img_url: '2048x' }} 2048w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1600x' }} 1600w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1200x' }} 1200w,
                                    {{ block.settings.product_detail_image_6 | img_url: '1000x' }} 1000w,
                                    {{ block.settings.product_detail_image_6 | img_url: '800x' }} 800w,
                                    {{ block.settings.product_detail_image_6 | img_url: '600x' }} 600w,
                                    {{ block.settings.product_detail_image_6 | img_url: '400x' }} 400w"
                       />
              {% if block.settings.enlarge %}</a>{% endif %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            
          </div>
        </div>
      </div>
  
    {% elsif block.type == 'image_with_text' %}
      {% include 'include-image-text', type: 'block' %}

    {% elsif block.type == 'divider' %}
      {% include 'include-divider', type: 'block' %}
    {% endif %}

  {% endfor %}
</div>


{% include 'product-details-bottom' %}


{% if section.settings.related_products_position == "below" and section.settings.display_related_products %}
  <div class="container">
    {% capture limit %}{{ section.settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
        {% if collections[related_collection_handle].all_products_count > 0 %}
          {% assign col = related_collection_handle %}
          {% assign collection = collections[col] %}
          {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if col and collections[col].all_products_count > 0 %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign skip_product = product %}
        {% assign products = collections[col].products %}
        {% assign products_per_row = section.settings.products_per_row %}
        {% include 'related-products-gried' %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}

<style>
  {% if section.settings.set_product_height %}
    .product_slider .slides img { max-width: {{ section.settings.product_height }}px; }
  {% endif %}
</style>


{% schema %}
{
  "name": "Product",
  "class": "product-template-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product images"
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product image height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "radio",
      "id": "related_products_position",
      "label": "Position",
      "options": [
        {
          "value": "above",
          "label": "Above content"
        },
        {
          "value": "below",
          "label": "Below content"
        }
      ],
      "default": "below"
    },
	{
	"type": "text",
          "id": "product_subtitle",
          "label": "Product Subtitle",
          "default": "Enter the product subtitle content info here"
    },
{
	
          "type": "image_picker",
          "id": "icons_image",
          "label": "Icons",
          "info": "700px wide recommended"
    }
  ],
  "blocks": [
	{
		"type": "accordion",
		"name": "Accordion Drawer",
		"settings": [
          	{
              "type": "text",
              "id": "accordion_title",
              "label": "Accordion Title",
              "default": "This is an example headline"
           	},
            {
              "type": "richtext",
              "id": "accordion_content",
              "label": "Accordion Content",
"default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>"
           	},
            {
              "type": "checkbox",
              "id": "pink-it",
              "label": "Pink It",
              "default": false
            }
          ]
	},
    {
      "type": "rich_text_and_image",
      "name": "Rich text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo",
          "info": "600 x 600px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "This is an example headline"
        },
        
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
		
      ]
    },
	{

    "type": "single_image",
      "name": "Single Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px recommended"
        }
		]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_detail_image_1",
          "label": "Image 1",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_2",
          "label": "Image 2",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_3",
          "label": "Image 3",
          "info": "760 x 500px recommended"
        }
      ]
    },
    {
          "type": "image_gallery_six",
          "name": "Image gallery - six",
          "settings": [
            {
              "type": "image_picker",
              "id": "product_detail_image_1",
              "label": "Image 1",
              "info": "760 x 500px recommended"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_2",
              "label": "Image 2",
              "info": "760 x 500px recommended"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_3",
              "label": "Image 3",
              "info": "760 x 500px recommended"
            },
{
              "type": "image_picker",
              "id": "product_detail_image_4",
              "label": "Image 1",
              "info": "760 x 500px recommended"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_5",
              "label": "Image 2",
              "info": "760 x 500px recommended"
            },
            {
              "type": "image_picker",
              "id": "product_detail_image_6",
              "label": "Image 3",
              "info": "760 x 500px recommended"
            },
			{
              "type": "checkbox",
              "id": "enlarge",
              "label": "Activate lightbox overlay",
              "default": false
            }

          ]
        },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 1000px recommended"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>"
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add spacing in between your sections by using a divider."
        },
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Spacing",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "This is an example headline",
          "content": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>",
          "text_alignment": "center",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text",
        "settings": {
          "layout": "right",
          "title": "Headline",
          "text": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>",
          "button_label": "Button",
          "frontpage_text_align": "left"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}
