{% if section.blocks.size > 0 %}
  <section id="homepage_slider-{{section.id}}" class="parallax-banner flexslider homepage_slider animation--fade {% if section.settings.image_stretch == false %}sixteen columns{% endif %} parallax_effect--{{ section.settings.parallax_effect }} slider-loading{% if section.settings.use_pr_styles == true %} pr{% endif %}"
        data-slider-id="homepage_slider-{{section.id}}"
        data-slideshow-animation="fade"
        data-slideshow-speed="{{section.settings.slideshow_speed}}">
    <ul class="slides">
      {% for block in section.blocks %}
          <li {{ block.shopify_attributes }} data-block-id="{{block.id}}">
            <div id="slider-{{ block.id }}" class="slide">
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              <div class="lazyload bcg {% if block.settings.image == nil %}bcg-placeholder{% endif %}"
                {% if section.settings.parallax_effect %}
                  {% if block.settings.image != nil %}
                    data-bgset="  {{ block.settings.image | img_url: '2048x' }} 2048w,
                                  {{ block.settings.image | img_url: '1600x' }} 1600w,
                                  {{ block.settings.image | img_url: '1200x' }} 1200w,
                                  {{ block.settings.image | img_url: '1000x' }} 1000w,
                                  {{ block.settings.image | img_url: '800x' }} 800w,
                                  {{ block.settings.image | img_url: '600x' }} 600w,
                                  {{ block.settings.image | img_url: '400x' }} 400w"
                    data-sizes="100vw"
                  {% else %}
                    style="background-image:url({{ 'placeholder.svg' | asset_url }})"
                  {% endif %}
                  data-bottom-top="background-position: 50% 10vh;"
                  data-top-bottom="background-position: 50% -10vh;"
                  data-anchor-target="#slider-{{ block.id }}"
                  {% endif %}
                  >
                  <div class="hsContainer">
                    {% if section.settings.parallax_effect %}
                      <noscript>
                       <img   alt="{{ block.settings.image.alt }}"
                              src="{{ block.settings.image | img_url: '2048x' }}"
                              class="image__fallback"
                              />
                        
                      </noscript>
                    {% endif %}
                    {% if block.settings.show_image_overlay == false %} 
                        <style>
                          #slider-{{ block.id }} .hsContainer::before {
                            display: none;
                          }
                        </style>
                        {% endif %}
                    <img  alt="{{ block.settings.image.alt }}"
                          {% if block.settings.image != nil %}
                            src="{{ block.settings.image | img_url: '300x' }}"
                            data-src="{{ block.settings.image | img_url: '2048x' }}"
                            class="lazyload lazyload--fade-in hsContainer__image"
                            sizes="100vw"
                            srcset="  {{ block.settings.image | img_url: '2048x' }} 2048w,
                                      {{ block.settings.image | img_url: '1600x' }} 1600w,
                                      {{ block.settings.image | img_url: '1200x' }} 1200w,
                                      {{ block.settings.image | img_url: '1000x' }} 1000w,
                                      {{ block.settings.image | img_url: '800x' }} 800w,
                                      {{ block.settings.image | img_url: '600x' }} 600w,
                                      {{ block.settings.image | img_url: '400x' }} 400w"
                          {% else %}
                            src="{{ 'placeholder.svg' | asset_url }}"
                            class="hsContainer__image"
                          {% endif %}
                           />
                      <div class="hsContent">
                        {% if block.settings.link != blank and block.settings.button_label == blank %}
                          <a href="{{ block.settings.link }}" class="full-link">
                            {{ block.settings.link }}
                          </a>
                        {% endif %}
                        <div class="container">
                          <div class="columns {% if block.settings.text_position == 'left' %} six offset-by-two {% elsif block.settings.text_position == 'right' %} five offset-by-nine {% else %} twelve offset-by-two {% endif %} align_{{ block.settings.text_alignment }}">
                            {% if block.settings.logo_overlay != blank %}
                            	<img src="{{ block.settings.logo_overlay | img_url: '800x' }}" class="logo_overlay">
                            {% endif %}
                            {% if forloop.first == true and block.settings.title != blank %}

                              <h1 class="headline">
                                {{ block.settings.title | escape }}
                              </h1>
                            {% elsif block.settings.title != blank %}
                              <p class="headline">
                                {{ block.settings.title | escape }}
                              </p>
                            {% endif %}
                            {% if block.settings.subtitle != blank %}
                              <div class="subtitle">
                                <p>{{ block.settings.subtitle }}</p>
                              </div>
                            {% endif %}
                            {% if block.settings.button_label != blank %}
                              <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                                {{ block.settings.button_label | escape }}
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </li>
        {% endfor %}
    </ul>
  </section>
{% endif %}

<style>
  {% if section.settings.parallax_effect %}
    #homepage_slider-{{ section.id }} .hsContainer {
      height: {{ section.settings.parallax_image_height }}px;
    }
  {% endif %}
  {% if section.settings.desktop_height_px != blank %}
  	#homepage_slider-{{ section.id }} .hsContainer,
	#homepage_slider-{{ section.id }} .bcg {
              height: {{ section.settings.desktop_height_px }}px;
    }
      
    #homepage_slider-{{ section.id }}.flexslider .slides img.hsContainer__image {
      height: {{ section.settings.desktop_height_px }}px;
      object-fit: cover;
    }
  @media (max-width: 768px) {
        #homepage_slider-{{ section.id }} .hsContainer,
        #homepage_slider-{{ section.id }} .hsContent,
        #homepage_slider-{{ section.id }} .bcg,
        #homepage_slider-{{ section.id }}.flexslider .slides img.hsContainer__image {
            height: {{ section.settings.desktop_height_px | times: 0.75 }}px;
        }
      }
      @media (max-height: 700px) {
/*       #homepage_slider-{{ section.id }} .hsContainer,
         #homepage_slider-{{ section.id }} .bcg {
         	height: {{ section.settings.desktop_height_px | times: 0.75 }}px;  */
      }
      @media (max-width: 768px) {
        height: {{ section.settings.desktop_height_px | times: 0.75 }}px;
      }
  {% endif %} 
  @media only screen and (max-width: 480px) {

    #homepage_slider-{{ section.id }} .bcg {
      height: auto;
    }
    {% if section.settings.mobile_height_percent != blank %}
        #homepage_slider-{{ section.id }}.parallax_effect--false .hsContainer,
        #homepage_slider-{{ section.id }}.parallax_effect--false .hsContent {
              height: {{ section.settings.mobile_height_percent }}vw !important;
          }
        #homepage_slider-{{ section.id }}.parallax_effect--false .hsContainer img.hsContainer__image {
              height: {{ section.settings.mobile_height_percent }}vw !important;
              width: auto;
              object-fit: cover;
              object-position: 30%;
        }
    {% endif %}
    
    
  }
  

</style>

{% schema %}
{
  "name": "Slideshow",
  "class": "slideshow-section under-menu",
  "max_blocks": 12,
  "settings": [
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Change slides every",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "header",
      "content": "Parallax"
    },
    {
      "type": "checkbox",
      "id": "parallax_effect",
      "label": "Enable parallax scrolling",
      "default": true
    },
    {
      "type": "range",
      "id": "parallax_image_height",
      "label": "Parallax section height",
      "min": 300,
      "max": 1000,
      "step": 20,
      "default": 600,
      "unit": "px"
    },
	{
      "type": "number",
      "id": "desktop_height_px",
      "label": "Desktop height in pixels",
      "default": 650
    },
	{
      "type": "number",
      "id": "mobile_height_percent",
      "label": "Mobile height as a percent of width",
      "default": 100
    },
	{
      "type": "checkbox",
      "id": "use_pr_styles",
      "label": "Use PR slideshow styles?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 1000px recommended"
        },
        {
          "type": "checkbox",
          "id": "show_image_overlay",
          "label": "Show Image Overlay",
		  "default": true
        },
        {
          "type": "image_picker",
          "id": "logo_overlay",
          "label": "Logo Overlay",
          "info": "800x800px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline here"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Text and/or image content area",
          "default": "You can use HTML and CSS styles here."
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "settings": {
    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "image": "",
          "title": "Parallax Shopify Theme",
          "subtitle": "",
          "text_alignment": "center",
          "button_label": "",
          "link": ""
        }
      },
      {
        "type": "image",
          "settings": {
          "image": "",
          "title": "",
          "subtitle": "",
          "text_alignment": "center",
          "button_label": "",
          "link": ""
        }
      }
    ]
  }]
}
{% endschema %}
