$small: 480px;
$medium: 798px;
$large: 799px;
$larger: 960px;
$xlarge: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $small) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media (max-width: $medium) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (min-width: $large) {
      @content;
    }
  } @else if $breakpoint == "larger" {
    @media (min-width: $larger) {
      @content;
    }
  } @else if $breakpoint == "xlarge" {
    @media (min-width: $xlarge) {
      @content;
    }
  } @else if $breakpoint == "ie10+" {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media only screen and (min-width: $large) and (max-width: 1024px) {
      @content;
    }
  } @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

// Reset
%reset_element {
  margin: 0;
  padding: 0;
  display: block;
  outline: none;
  text-decoration: none;
  background: none;
  border: none;
  line-height: normal;
  text-shadow: none;
  box-shadow: none;
  list-style: none;
}

.product-heading {
  text-align: left;
}

.product-color-header {
  width: 100%;
  margin-bottom: 10px;
  display: none;

  @include respond-to('medium') {
    text-align: center;
  }

  .color-heading {
    font-family: Montserrat, serif;
    font-weight: normal;
    text-transform: none;
    font-size: 14px;
    display: inline-block;

    @include respond-to('medium') {
      display: none;
    }
  }

  .color-name {
    font-size: 22px;
    margin-left: .5em;
    display: inline-block;

    @include respond-to('medium') {
      font-size: 14px;
      margin-left: 0;
      text-align: center;
      display: block;
      margin-bottom: 20px;
    }
  }
}

.product-colors {
  @extend %reset_element;
  margin-bottom: 15px;

  @include respond-to('medium') {
    text-align: center;
    margin-top: 20px;
  }

  > li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;

    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition-delay: 200ms;
      }
    }
  }

  label {
    @extend %reset_element;
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    @include respond-to('medium') {
      height: 30px;
      width: 30px;
      line-height: 30px;
    }
  }

  .radio-checked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #666666;
  }

  .tooltip {
    text-align: center;
    background: #333;
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    bottom: 100%;
    padding: 5px 10px;
    display: block;
    position: absolute;
    width: 120px;
    font-size: 13px;
    left: -35px;
    margin-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    z-index: 10000;
    line-height: 24px;

    @include respond-to('medium') {
      display: none;
    }

    &:before {
      bottom: -20px;
      content: "";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid rgba(51, 51, 51, 0.9) 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }

  .color-disable {
    display: none;
  }

  input {
    visibility: hidden;
    opacity: 0;

    &:checked +,
    &:checked ~ {
      .radio-checked {
        display: block;
      }
    }
  }

  .radio-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    margin: auto;

    @include respond-to('medium') {
      width: 20px;
      height: 20px;
    }
  }

  .color-disable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.product-price {
  margin-bottom: 15px;
  display: none;

  @include respond-to('medium') {
    text-align: center;
  }

  .format-price {
    font-size: 22px;
    color: #666666;
    display: inline-block;

    @include respond-to('medium') {
      font-size: 16px;
      color: #666666;
    }
  }
}

.product-price-compare {
  margin-bottom: 15px;
  display: none;

  @include respond-to('medium') {
    text-align: center;
  }

  .format-price {
    font-size: 22px;
    display: inline-block;
    font-style: italic;
    text-decoration: line-through;

    @include respond-to('medium') {
      font-size: 16px;
      color: #666666;
    }
  }
}

.product-sizes {
  margin-bottom: 30px;

  @include respond-to('medium') {
    text-align: center;
  }

  .sizes-heading {
    margin-bottom: 10px;
    display: none;

    &.active {
      display: block;
    }

    @include respond-to('medium') {
      display: none;
    }
  }

  .sizes-list {
    @extend %reset_element;
    display: none;

    &.active {
      display: block;
    }

    > li {
      display: inline-block;
      position: relative;
      margin: 0 10px 5px 0;
    }
  }

  label {
    @extend %reset_element;
    position: relative;
    min-width: 40px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    padding: 0 5px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .radio-checked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
    border: 1px solid #666666;
  }

  input {
    visibility: hidden;
    opacity: 0;
    position: absolute;

    &:checked +,
    &:checked ~ {
      .radio-checked {
        display: block;
      }
    }
  }

  .size-disable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.product-buy-button {
  width: 100%;
  display: block;
  margin-bottom: 10px;

  button {
    @extend %reset_element;
    width: 100%;
    padding: 10px;
    background: #ff6c0c;
    color: white;

    &:hover:not(.btn-disable) {
      background: #ff6c0c;
    }
  }

  .btn-disable {
    background: #d3d4d5;
  }
}

.product-carousel-container {
  position: relative;
}

.product-carousel-loader {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #bcc7c4;
  opacity: .8;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease;
  display: none;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 3s linear infinite;

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }
  }
}

.product-carousel {
  opacity: 0;
  visibility: hidden;
  transition: 1000ms linear;
  transition-property: opacity, visibility;

  &.slider-show {
    opacity: 1;
    visibility: visible;
  }

  .carousel-slide {
    position: relative;
    display: none;

    .image-wrapper {
      backface-visibility: hidden;

      @include respond-to('medium') {
        width: 70%;
        margin: 0 auto;
        display: block;
      }
    }

    &:first-child {
      display: block;
    }

    &.active {
      display: block;
    }

    .slide-overlay {
      background-image: url(Magnify_Button.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 55px 55px;
    }

    &:hover {
      .slide-overlay {
        opacity: 1;
        visibility: visible;
        transition-delay: 100ms;
      }
    }
  }

  .slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 55px;
    width: 55px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    transition-property: opacity, visibility;
  }
}

.product-carousel-nav {
  width: 100%;
  display: none;
  overflow: hidden;
  padding: 10px 50px;
  text-align: center;

  &.active {
    display: block;
  }

  @media (max-width: 767px) {
    display: none !important;
  }

  .carousel-slide {
    width: 140px;
    max-width: 140px;
    display: inline-block;
    float: none;
    opacity: 0.5;
    cursor: pointer;
    
    @include respond-to('small') {
      // height: 210px;
    }
  }

  .slick-current {
    opacity: 1;
  }
}

@include respond-to('medium') {
  .slick-dots {
    line-height: normal;
  }
  .slick-dots li {
    margin: 2px;
    line-height: normal;
  }
}

.lg-backdrop.in {
  z-index: 100000;
}

.lg-outer.lg-visible {
  z-index: 100000;
}

.lg-toolbar.lg-group {
  background-color: transparent !important;
  user-select: none !important;
}

.lg-img-wrap {
  padding: 50px 0 !important;
}

.light-gallery {
  .carousel-slide {
    cursor: pointer;
  }
}

.payment-button {
  margin-bottom: 30px !important;
}

.product-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000000;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.product-popup-inner {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #666666;
  text-shadow: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  margin: 0 auto;
  transform: translateY(-50%);

  .image-wrapper {
    @include respond-to('medium') {
      width: 70%;
      margin: 0 auto;
      display: block;
    }
  }

  .slick-prev {
    left: 20px;

    @include respond-to('medium') {
      left: 10px;
    }
  }

  .slick-next {
    right: 20px;

    @include respond-to('medium') {
      right: 10px;
    }
  }

  .slick-dots {
    display: none !important;
  }
}

#add-to-cart-form {
  .shopify-payment-button {
    //visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.shopify-payment-button {
  position: relative;

  &.active {
    &:before {
      display: none;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    cursor: default;
  }
}

