{% if settings.font_title contains "google:" %}
  {% assign title-FontArray = settings.font_title | split: ':' %}
  {% assign title-FontName = title-FontArray[2] %}
  {% capture title-FontStack %}"{{ title-FontName | replace: '+', ' ' }}"{% if title-FontArray[1] == 'serifStack' %}, "Big Caslon","Bodoni MT",Georgia,serif {% else %}, "Helvetica Neue",Arial,sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign title-FontStack = settings.font_title %}
{% endif %}


$titleFontStack: {{title-FontStack}};

@mixin generate($argument,$value) {
         #{$argument}: #{$value};
 -webkit-#{$argument}: #{$value};
    -moz-#{$argument}: #{$value};
     -ms-#{$argument}: #{$value};
      -o-#{$argument}: #{$value};
}

.header-search__wrapper {
  .store-locator {
    right: 100%;
    width: 100px;
    font-size: 11px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
  }
}

.header-account-link {
  left: 15px;
  top: -3px;
  position: absolute;

  img {
    top: -2px;
    vertical-align: middle;
    position: relative;
  }

  .store-locator {
    /*margin-left: 10px;*/
    font-size: 11px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
  }
}

@media screen and (min-width: 480px) {
  .header-account-link { left: 30px; }
}

.header-search .search-bar {
  width: 20px;
}

.header-message {
  line-height: 22px;
}

.main-menu {
  .nav-link {
    span.lower {
      text-transform: lowercase;
    }
    span.bold {
      font-weight: bold;
    }
  }
  .search_link {
    position: relative;

    a.nav-link {
      display: none;
    }

    a {
      width: 23px;
      height: 79px;
      text-indent: -10000px;
      text-align: left;
      background: url("{{ 'search.svg' | asset_url }}");
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
    }

    .header-search.standalone {
      top: 50%;
      bottom: auto;
      right: 0;
      margin-top: -19px;
      padding: 5px 0;
      display: block;
    }
    /*&:hover .header-search.standalone,*/
    .header-search.standalone.visible {
      display: block;

      .search-bar {
        /*width: 200px;*/

      }
    }
  }
  .cart-text-link {
    &.fade {
      a {
        @include generate(transition, color 3s);
      }
    }
  }
}

.nav--mobile {
  .main-menu {
    .search_link {
      display: none;
    }
  }
}


#AjaxifyCart {
  .wrapper {
    padding: 0 !important;
  }

  #nudge-offer {
    margin: 10px 45px !important;
  }
}

#nudge-offer {
  .product-image {
    float: left;
  }
  .offer-text {
    margin-left: 10px;
    font-weight: normal;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    text-align: left;
  }
  form {
    margin: 10px 0 10px 10px !important;
    text-align: left;

    select {
      font-size: 12px;
      border: 1px solid #eee !important;
    }
  }
}

#add-to-cart-popup {
  right: 100000px;
  bottom: 50%;
  width: 400px;
  margin-bottom: 50px;
  z-index: 1500;
  border-right: 10px solid #000;
  border-bottom: 10px solid transparent;
  opacity: 0;
  display: block;
  position: absolute;

  @include generate(transition, 'opacity 1s, margin-bottom 1s');

  .inner {
    padding: 10px 10px 10px 95px;
    background: #000;
  }

  img {
    float: left;
    margin: 0 0 0 -85px;
    max-width: 75px;
    max-height: 75px;
    display: block;
  }

  span {
    color: #fff;
    padding: 5px 0 5px 10px;
    background: #000;
    display: block;

    small {
      display: block;
    }

    &.title {
      font-weight: bold;
    }
  }

  &.visible {
    right: 50%;
    bottom: 50%;
    margin-bottom: 20px;
    opacity: 1;
    display: block;
  }
}


.additional-checkout-buttons {
  display: none;
}


.template-list-collections {
  .list-collections {
    background: #fff;
  }
}

.site-header {
  .wrapper {
    position: relative;
  }
  .header-search.standalone,
  .header-search.mobile {
    bottom: -31px;
    right: 20px;
    padding: 1px 5px 5px;
    background: #fff;
    position: absolute;
    z-index: 11;

    .search-bar {
      margin-right: 25px;
      padding-right: 0;
      width: 100px;
      background: #f0f0f0;

      &:focus,
      &:active {
        width: 200px;
      }
    }
  }
  .header-search.standalone {
    /*display: none;*/
    margin-left: 20px;
    position: relative;
    display: none;

    &.visible {
      display: block;
    }
  }
  .header-search.mobile {
    margin-right: 25px;
    padding: 0 0 10px;
    position: static;

    .search-bar {
      width: 100%;
      padding: 0px 5px;
      text-align: left;

      &:focus,
      &:active {
        width: 100%;
      }
    }
    .search-btn {
      right: auto;
      left: 100%;
      margin-left: 10px;
      color: {{ settings.color_splash }};
    }
  }

}

@media all and (max-width: 586px) {
  #add-to-cart-popup {
    &.visible {
      right: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: 480px) {
  .header-search .search-bar:focus, .header-search .search-bar:active {
    width: 150px;
  }
}

.btn--clear {
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #f4520c;
    border-color: #f4520c;
  }
}

.testimonials {
  .grid__item {
    margin-bottom: 40px;
  }
}

.three-items {
  font-size: 0;
  vertical-align: top;
  display: block;


  .item {
    width: 33.333%;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    vertical-align: top;
    font-family: $titleFontStack;
    display: inline-block;

    @include generate(box-sizing, border-box);

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}


.yv-backorders-form {
  margin-top: 20px;

  .yv-info {
    font-weight: bold;
    text-align: center;
  }

  .errorlist {
    color: #800;
  }

  .yv-fields {
    font-size: 0;
    vertical-align: bottom;

    * {
      font-size: 14px;
    }

    .yv-field {
      padding-left: 5px;
      width: 50%;
      font-size: 14px;
      vertical-align: bottom;
      display: inline-block;

      &:first-child {
        padding-right: 5px;
        padding-left: 0;
      }

      label {
        margin-top: 5px;
        font-size: 11.2px;
      }
    }
  }

  input[type=button] {
    width: 100%;
    display: inline-block;
    padding: 0px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 45px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      background-color: #f4520c;
      border-color: #f4520c;
      color: #fff;
    }
  }
}

.yv-reviews {
  h2 {
    display: none;
  }
}

.yv-socialbuy {
  &.yv-theme-default {
    .yv-tiles {
      li {
        width: 16.6667%;
        padding: 1px 0 1px 1px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .yv-socialbuy.yv-theme-default .yv-tiles li {
    width: 33.333%;
  }
}

@media all and (max-width: 414px) {
  .yv-socialbuy.yv-theme-default .yv-tiles li {
    width: 50%;
  }
}

.product-grid-item {
  .image-switch {
    .primary {
      display: block;
    }
    .secondary {
      display: none;
    }

    &:hover {
      .primary {
        display: none;
      }
      .secondary {
        display: block;
      }
    }
  }
  .variants-preview {
    margin: 0 auto;
    max-width: 160px;
    font-size: 0;

    a {
      width: 26px;
      height: 26px;
      margin: 0 2px 4px;
      padding: 1px;
      font-size: 10px;
      display: inline-block;
      border: 2px solid #eee;
      @include generate(border-radius, 13px);

      span {
        width: 20px;
        height: 20px;
        display: block;
        background: no-repeat center center;
        background-size: cover;
        @include generate(border-radius, 10px);
      }
    }
  }
}

.product__photo,
.product__photo img {
  max-height: 500px;
}
.slick-dots {
  li {
    img {
      vertical-align: middle;
    }
  }
}
.product__slides {
  position: relative;

  .video-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
  }
}

.product-description {
  ul {
    text-align: left;
  }

  .video-wrapper {
    padding-bottom: 100%;
  }
}

#ProductThumbs-product {
  .color-popup {
    top: 100%;
    left: -100000px;
    width: 120px;
    margin: 15px 0 0 -60px;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,.5);
    @include generate(box-sizing, border-box);
    @include generate(transition, 'opacity .5s, margin-top .5s');
  }

  ul {
    li {
      .color-popup {
        left: 50%;
        margin-top: 5px;
        opacity: 1;
      }
    }
  }
}

.collection-list-item {
  a.more {
    font-family: "Oswald", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
}


.tabs {
  margin: 30px 0;
  clear: both;

  .tabs-nav {
    margin: 0 0 -1px;
    padding: 0;
    list-style: none;
    vertical-align: bottom;

    li {
      margin: 0;
      display: inline-block;

      a {
        padding: 10px 25px;
        opacity: .75;
        text-decoration: none;
        cursor: pointer;
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        text-transform: uppercase;
        display: block;
        border: 1px solid #ddd;
        border-top-width: 3px;
        outline: none;
        background: #fff;
      }

      &:hover a,
      &.active a,
      a:focus {
        opacity: 1;
        border-top-color: #f4520c;
        border-bottom-color: #fff;
      }
    }
  }

  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;

    &.active {
      display: block;
    }

    h4, p {
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
    ul {
      margin: 20px;
      list-style: disc;
    }
    table {
      th, td {
        white-space: nowrap;
      }
    }
  }
}

img.care-instructions {
  max-width: 100%;
  margin: 20px auto;
  display: block;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  display: block;
}

#meet-our-ambadassadors {
  .grid__item {
    a {
      img {
      }
    }
    h4 {
      margin-bottom: 50px;
    }
  }
}

footer .contact-form {
  .input-group-birthday {
    color: #888;
    margin-bottom: 5px;
    display: inline-block;

    label {
      padding-left: 8px;
      display: inline-block;
    }

    input {
      width: 50px;
      margin: 0;
      text-align: center;
      display: inline-block;
    }
  }
}

@media all and (max-width: 414px) {
  .tabs {
    .tabs-nav {
      white-space: nowrap;
      vertical-align: bottom;

      li {
        max-width: 35%;
        white-space: normal;
        vertical-align: bottom;

        a {
          min-height: 62px;
          padding: 7px 8px;
        }
      }
    }
  }
}

#add-to-cart-popup .inner:after {
  clear: both;
  height: 0;
  content: ".";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}


