<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <h1 class="center">
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <div>
      {% include 'prodeal-jotform', content: page.content %}
    </div>
  </div>
</div>
