<div id= "hiddenProductId" style="display:none;" data-product-id="{{product.id}}"></div>
{% include 'elspw_product' %}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
