
{% include 'elspw_product' %}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-details-squeeze-78' %}
