{% comment %}
Allows Gem Pages (or any page) to be inserted as extra product content between tabs and reviews
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template-gempages' %}

